{% extends "FIANETSceauBundle:Extranet:extranet.html.twig" %}

{% trans_default_domain 'commun' %}

{% block title %}
    {{ parent() }} : {{ 'commun_detail_de_questionnaire'|trans }}
{% endblock %}

{% block extranet_stylesheets %}
    {% stylesheets
    'bundles/fianetsceau/css/tooltipster/tooltipster.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block extranet_body %}
        {# ToDo : il faudra gérer l'affichage prénom+nom ou adresse e-mail selon le statut du membre - à voir dans le lot lié aux membres #}
        <h1>{{ 'commun_avis_de'|trans }} {% if questionnaire1.membre.prenom is not empty %}{{ questionnaire1.membre.prenom |capitalize }}{% endif %} {% if questionnaire1.membre.nom is not empty %}{{ questionnaire1.membre.nom |upper }}{% endif %}
            <span>
                {# navigation #}
            </span>
        </h1>
        
        {% if questionnaire1.commande is not null %}
        <div class="block-total">
            <div class="block-total-part1">
                <h2>{{ 'commun_commande_informations'|trans }} {% if questionnaire1.commande.reference is not empty %}{{ questionnaire1.commande.reference }}{% endif %} {{ 'commun_du'|trans }} {% if questionnaire1.commande.date is not empty %}{{ questionnaire1.commande.date|localizeddate('short', 'none') }} {{ 'commun_a'|trans }} {{ questionnaire1.commande.date|localizeddate('none', 'short') }}{% endif %}</h2>
                <dt>&nbsp;&nbsp;{% if questionnaire1.commande.prenom is not empty %}{% if questionnaire1.commande.prenom is not empty %}{{ questionnaire1.commande.prenom |capitalize }}{% endif %} {% if questionnaire1.commande.nom is not empty %}{{ questionnaire1.commande.nom |upper }}{% endif %}{% endif %}</dt>
                <hr />
                <dt>&nbsp;&nbsp;{% if questionnaire1.commande.email is not empty %}{{ questionnaire1.commande.email }}{% endif %}</dt>
                <hr />
                <dd>{{ 'commun_commande_date'|trans }} :</dd>
                <dt>{% if questionnaire1.commande.date is not empty %}{{ questionnaire1.commande.date|localizeddate('short', 'none') }} {{ 'commun_a'|trans }} {{ questionnaire1.commande.date|localizeddate('none', 'short') }}{% endif %}</dt>
                <hr />        
                <dd>{{ 'commun_questionnaire_envoye_par'|trans }} :</dd>
                <dt>{% if questionnaire1.site.administrationType.id == 1 %}{{ 'commun_marchand'|trans }}{% else %}FIA-NET{% endif %}</dt> {# ToDo : à revoir quand on fera les demandes de questionnaires via Espace Membre + peut être formulation de "Marchand" à revoir #}
            </div>
            <div class="block-total-part2">
                <h2>&nbsp;</h2>
                <dd>{{ 'commun_membre_pseudo'|trans }} :</dd>
                <dt>{% if questionnaire1.membre.pseudo is not empty %}{{ questionnaire1.membre.pseudo }}{% endif %}</dt>
                <hr />
                <dd>{{ 'commun_commande_montant'|trans }} :</dd>
                <dt>{% if questionnaire1.commande.montant is not empty %}{{ questionnaire1.commande.montant }} &euro;  {% endif %} {# ToDo : on devra éventuellement gérer les devises pour les montants #}</dt>
                <hr />
                <dd>{{ 'commun_commande_site'|trans }} :</dd>
                <dt>
                {% if questionnaire1.site is not null %}
                    {% if questionnaire1.site.nom is not empty %}{{ questionnaire1.site.nom }} {% endif %}
                {% endif %}
                {% if questionnaire1.sousSite is not null %}
                    - {% if questionnaire1.sousSite.nom is not empty %}{{ questionnaire1.sousSite.nom }} {% endif %}
                {% endif %} 
                </dt>            
            </div>
        </div>
        {% endif %} 

    <h1>{{ questionnaire1.questionnaireType.parametrage.libelleQuestionnaireRepondu|trans({}, 'commun_questionnaires_repondus') }}</h1>
    <div class="block-total">
        <div class="block-total-part1-2">
            {% include 'FIANETSceauBundle:Commun:questionnaire_repondu.html.twig' with {'questionnaire': questionnaire1, 'afficherDroitDeReponse': true} only %}
        </div>

        <div class="block-total-part3">
            <div class="block-info-rep">
                <div class="btn-droit-reponse"><img src="{{ asset('bundles/fianetsceau/images/extranet/droit-reponse.png') }}" width="59" height="59" />
                </div>
                {# ToDo : cette partie sera à revoir car le contenu devra être géré via le BO + ATTENTION texte devant être traduit / ! \ Réfléchir au process #}
                <p class="reponse">
                    {{ 'detail_questionnaire_bloc_droit_de_reponse'|trans({}, 'extranet_droit_de_reponse')|raw }}
                </p>
            </div>
        </div>
    </div>

    {% if questionnaire2 %}
        <h1>{{ questionnaire2.questionnaireType.parametrage.libelleQuestionnaireRepondu|trans({}, 'commun_questionnaires_repondus') }}</h1>
        <div class="block-total">
            <div class="block-total-part1-2">
                {% include 'FIANETSceauBundle:Commun:questionnaire_repondu_second.html.twig' with {'questionnaire': questionnaire2, 'afficherDroitDeReponse': true} only %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extranet_javascripts %}
    {% javascripts
    'bundles/fianetsceau/js/tooltipster/jquery.tooltipster.min.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    
    <script type="text/javascript"> 
        $(document).ready(function () {
            $('#tooltip').tooltipster({
                contentAsHTML: true,
                content: $('{% spaceless %}{{ 'commun_charte_commercant'|trans|replace({"'" : "\\'" })|raw }}{% endspaceless %}'),
                interactive: true,
                maxWidth: 550,
                position: 'left',
                offsetX: 0
            });
        });
    </script>
{% endblock %}
