{% extends "FIANETSceauBundle:Extranet:extranet.html.twig" %}

{% trans_default_domain 'commun' %}

{% block title %}
    {{ parent() }} : {{ 'commun_detail_de_questionnaire'|trans }}
{% endblock %}

{% block extranet_stylesheets %}
    {% stylesheets
    'bundles/fianetsceau/css/tooltipster/tooltipster.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block extranet_body %}

    {% if questionnaire[0] is not null %}    
        {# ToDo : il faudra gérer l'affichage prénom+nom ou adresse e-mail selon le statut du membre - à voir dans le lot lié aux membres #}
        <h1>{{ 'commun_avis_de'|trans }} {% if questionnaire[0].membre.prenom is not empty %}{{ questionnaire[0].membre.prenom |capitalize }}{% endif %} {% if questionnaire[0].membre.nom is not empty %}{{ questionnaire[0].membre.nom |upper }}{% endif %} 
            <span>
                {% if navigation['precedent'] is not empty %}
                    {% if navigation['precedent'][0] is not null %}<a href="{{ path('extranet_questionnaires_detail_questionnaire', {'id': navigation['precedent'][0].id}) }}"><button><<</button></a>&nbsp;{% endif %}
                {% endif %}
                <a href="{{ path('extranet_questionnaires_questionnaires') }}"><button>{{ 'commun_questionnaires'|trans }}</button></a>
                {% if navigation['suivant'] is not empty %}
                    {% if navigation['suivant'][0] is not null %}&nbsp;<a href="{{ path('extranet_questionnaires_detail_questionnaire', {'id': navigation['suivant'][0].id}) }}"><button>>></button></a>{% endif %}
                {% endif %}       
            </span>
        </h1>
        
        {% if questionnaire[0].commande is not null %}
        <div class="block-total">
            <div class="block-total-part1">
                <h2>{{ 'commun_commande_informations'|trans }} {% if questionnaire[0].commande.reference is not empty %}{{ questionnaire[0].commande.reference }}{% endif %} {{ 'commun_du'|trans }} {% if questionnaire[0].commande.date is not empty %}{{ questionnaire[0].commande.date|localizeddate('short', 'none') }} {{ 'commun_a'|trans }} {{ questionnaire[0].commande.date|localizeddate('none', 'short') }}{% endif %}</h2>
                <dt>&nbsp;&nbsp;{% if questionnaire[0].commande.prenom is not empty %}{% if questionnaire[0].commande.prenom is not empty %}{{ questionnaire[0].commande.prenom |capitalize }}{% endif %} {% if questionnaire[0].commande.nom is not empty %}{{ questionnaire[0].commande.nom |upper }}{% endif %}{% endif %}</dt>
                <hr />
                <dt>&nbsp;&nbsp;{% if questionnaire[0].commande.email is not empty %}{{ questionnaire[0].commande.email }}{% endif %}</dt>
                <hr />
                <dd>{{ 'commun_commande_date'|trans }} :</dd>
                <dt>{% if questionnaire[0].commande.date is not empty %}{{ questionnaire[0].commande.date|localizeddate('short', 'none') }} {{ 'commun_a'|trans }} {{ questionnaire[0].commande.date|localizeddate('none', 'short') }}{% endif %}</dt>
                <hr />        
                <dd>{{ 'commun_questionnaire_envoye_par'|trans }} :</dd>
                <dt>{% if questionnaire[0].site.administrationType.id == 1 %}{{ 'commun_marchand'|trans }}{% else %}FIA-NET{% endif %}</dt> {# ToDo : à revoir quand on fera les demandes de questionnaires via Espace Membre + peut être formulation de "Marchand" à revoir #}
            </div>
            <div class="block-total-part2">
                <h2>&nbsp;</h2>
                <dd>{{ 'commun_membre_pseudo'|trans }} :</dd>
                <dt>{% if questionnaire[0].membre.pseudo is not empty %}{{ questionnaire[0].membre.pseudo }}{% endif %}</dt>
                <hr />
                <dd>{{ 'commun_commande_montant'|trans }} :</dd>
                <dt>{% if questionnaire[0].commande.montant is not empty %}{{ questionnaire[0].commande.montant }} &euro;  {% endif %} {# ToDo : on devra éventuellement gérer les devises pour les montants #}</dt>
                <hr />
                <dd>{{ 'commun_commande_site'|trans }} :</dd>
                <dt>
                {% if questionnaire[0].site is not null %}
                    {% if questionnaire[0].site.nom is not empty %}{{ questionnaire[0].site.nom }} {% endif %}
                {% endif %}
                {% if questionnaire[0].sousSite is not null %}
                    - {% if questionnaire[0].sousSite.nom is not empty %}{{ questionnaire[0].sousSite.nom }} {% endif %}
                {% endif %} 
                </dt>            
            </div>
            {#
            <div class="block-total-part3b">
            </div>
            #}
        </div>
        {% endif %} 

    <h1>{{ questionnaireTypeLibelle|trans({}, 'commun_questionnaires_repondus') }}</h1>
    <div class="block-total">
        <div class="block-total-part1-2">           
            
            {% set droitDeReponseRedige = false %}
            {% set questionnaireLie = false %}
            
            {% if questionnaire[0].questionnaireReponses[0] is defined %}
                {% set commentairePrincipal = questionnaire[0].questionnaireReponses[0] %}
                {% if questionnaire[0].questionnaireReponses[0].droitDeReponses[0] is defined %}
                    {% set droitDeReponse = questionnaire[0].questionnaireReponses[0].droitDeReponses[0] %}
                    {% set droitDeReponseRedige = true %}
                {% endif %}
            {% endif %}
            
            {% if commentairePrincipal is defined %}
                {% set commentairePrincipal1 = commentairePrincipal %}
            {% else %}
                {% set commentairePrincipal1 = null %}
            {% endif %}            
            
            {% if questionnaireLieSuivant[0] is defined %}
                {% set questionnaireLie = true %}
            {% endif %}
            
            {{ include('FIANETSceauBundle:Commun:questionnaire_repondu.html.twig', {'questionnaireRepondu': questionnaire[0], 'questionnaireRepondu_dateReponse': questionnaire[0].dateReponse, 'questionnaireRepondu_listeQuestionsReponses' : questionnaireListeQuestionsReponses, 'droitDeReponse': droitDeReponseRedige, 'questionnaireLieSuivant' : questionnaireLie, 'commentairePrincipal' : commentairePrincipal1 }) }}
            
            {% if commentairePrincipal is defined %}
                {% if droitDeReponse is defined %}
                    <br />
                    <h2>{{ 'commun_droit_de_reponse'|trans()|upper }} - {{ 'commun_le'|trans }} {{ droitDeReponse.dateInsertion|localizeddate('short', 'none') }} {{ 'commun_a'|trans }} {{ droitDeReponse.dateInsertion|localizeddate('none', 'short') }} - </h2>
                    <div class="drt-rep">{{ droitDeReponse.commentaire }}</div>
                {% else %}
                    {% if questionnaireLieSuivant[0] is not defined %}
                    <p>{{ 'repondez_directement'|trans({}, 'extranet_droit_de_reponse')|raw }} <button onclick="window.location.href = '{{ path('extranet_questionnaires_droit_de_reponse_ajout', {'qid': questionnaire[0].id, 'qrid': commentairePrincipal.id}) }}' "><img src="{{ asset('bundles/fianetsceau/images/extranet/fleche-btn.png') }}" width="14" height="12"/> {{ 'repondez'|trans({}, 'extranet_droit_de_reponse') }}</button></p>
                    {% endif %}           
                {% endif %}
            {% endif %}
            
        </div>
        
        {% if commentairePrincipal is defined and questionnaireLieSuivant[0] is not defined %}
        <div class="block-total-part3">
            <div class="block-info-rep">
                <div class="btn-droit-reponse"><img src="{{ asset('bundles/fianetsceau/images/extranet/droit-reponse.png') }}" width="59" height="59"/><br /><br />
                </div>
                {# ToDo : cette partie sera à revoir car le contenu devra être géré via le BO + ATTENTION texte devant être traduit / ! \ Réfléchir au process #}
                <p class="reponse">
                    {{ 'detail_questionnaire_bloc_droit_de_reponse'|trans({}, 'extranet_droit_de_reponse')|raw }}
                    {# <p class="reponse" id="laCharte">{{ 'commun_charte_commercant'|trans|raw }}</p> 
                    <span class="lien"  id="lienLaCharte" >{{ 'commun_droit_de_reponse_charte_2'|trans }}</span> #}
                </p>
            </div>
        </div>
        {% endif %} 
            
    </div>
    {% endif %}
   
    {% if questionnaireSuivant %}
    <h1>{{ questionnaireLieSuivantTypeLibelle|trans({}, 'commun_questionnaires_repondus') }}</h1>

        <div class="block-total">
        {% if questionnaireLieSuivant[0] is defined %}

            <div class="block-total-part1-2">           

                {% set droitDeReponseLieRedige = false %}
                
                {% if questionnaireLieSuivant[0].questionnaireReponses[0] is defined %}
                    {% set commentairePrincipalLieSuivant = questionnaireLieSuivant[0].questionnaireReponses[0] %}
                    {% if questionnaireLieSuivant[0].questionnaireReponses[0].droitDeReponses[0] is defined %}
                        {% set droitDeReponseLieSuivant = questionnaireLieSuivant[0].questionnaireReponses[0].droitDeReponses[0] %}
                        {% set droitDeReponseLieRedige = true %}
                    {% endif %}
                {% endif %}
                
                {% if commentairePrincipalLieSuivant is defined %}
                    {% set commentairePrincipalLieSuiv = commentairePrincipalLieSuivant %}
                {% else %}
                    {% set commentairePrincipalLieSuiv = null %}
                {% endif %}

                {{ include('FIANETSceauBundle:Commun:questionnaire_repondu.html.twig', {'questionnaireRepondu': questionnaireLieSuivant[0], 'questionnaireRepondu_dateReponse': questionnaireLieSuivant[0].dateReponse, 'questionnaireRepondu_listeQuestionsReponses' : questionnaireLieSuivantListeQuestionsReponses, 'droitDeReponse': droitDeReponseLieRedige, 'questionnaireLieSuivant' : false, 'commentairePrincipal' : commentairePrincipalLieSuiv }) }}

                {% if commentairePrincipalLieSuivant is defined %}
                    {% if droitDeReponseLieSuivant is defined %}
                        <br />
                        <h2>{{ 'commun_droit_de_reponse'|trans()|upper }} - {{ 'commun_le'|trans }} {{ droitDeReponseLieSuivant.dateInsertion|localizeddate('short', 'none') }} {{ 'commun_a'|trans }} {{ droitDeReponseLieSuivant.dateInsertion|localizeddate('none', 'short') }} - </h2>
                        <div class="drt-rep">{{ droitDeReponseLieSuivant.commentaire }}</div>
                    {% else %}
                        <p>{{ 'repondez_directement'|trans({}, 'extranet_droit_de_reponse')|raw }} <button onclick="window.location.href = '{{ path('extranet_questionnaires_droit_de_reponse_ajout', {'qid': questionnaireLieSuivant[0].id, 'qrid': commentairePrincipalLieSuivant.id}) }}' "><img src="{{ asset('bundles/fianetsceau/images/extranet/fleche-btn.png') }}" width="14" height="12"/> {{ 'repondez'|trans({}, 'extranet_droit_de_reponse') }}</button></p>
                    {% endif %}
                {% endif %}

            </div>

            {% if commentairePrincipalLieSuivant is defined %}
            <div class="block-total-part3">
                <div class="block-info-rep">
                    <div class="btn-droit-reponse"><img src="{{ asset('bundles/fianetsceau/images/extranet/droit-reponse.png') }}" width="59" height="59"/>
                    </div>
                    {# ToDo : cette partie sera à revoir car le contenu devra être géré via le BO + ATTENTION texte devant être traduit / ! \ Réfléchir au process #}
                    <p class="reponse">
                        {{ 'detail_questionnaire_bloc_droit_de_reponse'|trans({}, 'extranet_droit_de_reponse')|raw }}
                        {# <p class="reponse" id="laCharte">{{ 'commun_charte_commercant'|trans|raw }}</p> 
                        <span class="lien"  id="lienLaCharte" >{{ 'commun_droit_de_reponse_charte_2'|trans }}</span> #}
                    </p>
                </div>
            </div>
            {% endif %} 
        {% else %}
            <div class="block-total-part1-2"> 
                <p class="question">{{ questionnaireLieSuivantMsg['texte']|trans({}, 'commun_questionnaires_repondus')|replace({"##DATE_ENVOI##" : questionnaireLieSuivantMsg['dateEnvoi']|localizeddate('short', 'none')})|raw }}</p>
                <br />
            </div>
        {% endif %}
        </div>
        
    {% endif %} 
    
{% endblock %}

{% block extranet_javascripts %}
    {% javascripts
    'bundles/fianetsceau/js/tooltipster/jquery.tooltipster.min.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    
    <script type="text/javascript"> 
        $(document).ready(function () {
            {#
            $("#laCharte").hide();
            $("#lienLaCharte").click(function () {
                $("#laCharte").slideToggle();
            });
            #}
            
            $('#tooltip').tooltipster({
                contentAsHTML: true,
                content: $('{% spaceless %}{{ 'commun_charte_commercant'|trans|replace({"'" : "\\'" })|raw }}{% endspaceless %}'),
                interactive: true,
                maxWidth: 550,
                position: 'left',
                offsetX: 0
            });

        });
    </script>
{% endblock %}
