{% extends "FIANETSceauBundle:Extranet:extranet.html.twig" %}

{% trans_default_domain 'commun' %}

{% block title %}
    {{ parent() }} : {{ 'commun_detail_de_questionnaire'|trans }}
{% endblock %}

{% block extranet_body %}

    {% if infosGeneralesQuestionnaire[0] is not null %}    
    <h1>{{ 'commun_avis_de'|trans }} {% if infosGeneralesQuestionnaire[0].commande.prenom is not empty %}{% if infosGeneralesQuestionnaire[0].commande.prenom is not empty %}{{ infosGeneralesQuestionnaire[0].commande.prenom |capitalize }}{% endif %} {% if infosGeneralesQuestionnaire[0].commande.nom is not empty %}{{ infosGeneralesQuestionnaire[0].commande.nom |upper }}{% endif %}{% endif %} <span>
            {# ToDo : il faudra gérer l'affichage prénom+nom ou adresse e-mail selon le statut du membre - à voir dans le lot lié aux membres #}
            <button><<</button>
            &nbsp;
            <button>{{ 'commun_questionnaires'|trans }}</button>
            &nbsp;
            <button>>></button>
        </span>
    </h1>
            
        {% if infosGeneralesQuestionnaire[0].commande is not null %}
        <div class="block-total">
            <div class="block-total-part1">
                <h2>{{ 'commun_commande_informations'|trans }} {% if infosGeneralesQuestionnaire[0].commande.reference is not empty %}{{ infosGeneralesQuestionnaire[0].commande.reference }}{% endif %} {{ 'commun_du'|trans }} {% if infosGeneralesQuestionnaire[0].commande.date is not empty %}{{ infosGeneralesQuestionnaire[0].commande.date|date('d/m/Y \\à H\\hi') }}{% endif %} {# ToDo : il faudra convertir les dates selon la langue de l'extranet #}</h2>
                <dt>{% if infosGeneralesQuestionnaire[0].commande.prenom is not empty %}{% if infosGeneralesQuestionnaire[0].commande.prenom is not empty %}{{ infosGeneralesQuestionnaire[0].commande.prenom |capitalize }}{% endif %} {% if infosGeneralesQuestionnaire[0].commande.nom is not empty %}{{ infosGeneralesQuestionnaire[0].commande.nom |upper }}{% endif %}{% endif %}</dt>
                <hr />
                <dt>{% if infosGeneralesQuestionnaire[0].commande.email is not empty %}{{ infosGeneralesQuestionnaire[0].commande.email }}{% endif %}</dt>
                <hr />
                <dd>{{ 'commun_commande_date'|trans }} :</dd>
                <dt>{% if infosGeneralesQuestionnaire[0].commande.date is not empty %}{{ infosGeneralesQuestionnaire[0].commande.date|date('d/m/Y \\à H\\hi') }}{% endif %} {# ToDo : il faudra convertir les dates selon la langue de l'extranet #}</dt>
                <hr />                
                <dd>{{ 'commun_questionnaire_envoye_par'|trans }} :</dd>
                <dt>FIA-NET</dt> {# ToDo : à gérer quand on fera les questionnaires hors flux XML #}
            </div>
            <div class="block-total-part2">
                <h2>&nbsp;</h2>
                <dd>{{ 'commun_membre_pseudo'|trans }} :</dd>
                <dt>{% if infosGeneralesQuestionnaire[0].membre.pseudo is not empty %}{{ infosGeneralesQuestionnaire[0].membre.pseudo }}{% endif %}</dt>
                <hr />
                <dd>{{ 'commun_commande_montant'|trans }} :</dd>
                <dt>{% if infosGeneralesQuestionnaire[0].commande.montant is not empty %}{{ infosGeneralesQuestionnaire[0].commande.montant }} &euro;  {% endif %} {# ToDo : on devra éventuellement gérer les devises pour les montants #}</dt>
                <hr />
                <dd>{{ 'commun_commande_site'|trans }} :</dd>
                <dt>
                {% if infosGeneralesQuestionnaire[0].site is not null %}
                    {% if infosGeneralesQuestionnaire[0].site.nom is not empty %}{{ infosGeneralesQuestionnaire[0].site.nom }} {% endif %}
                {% endif %}
                {% if infosGeneralesQuestionnaire[0].sousSite is not null %}
                    - {% if infosGeneralesQuestionnaire[0].sousSite.nom is not empty %}{{ infosGeneralesQuestionnaire[0].sousSite.nom }} {% endif %}
                {% endif %} 
                </dt>            
            </div>
            {#
            <div class="block-total-part3b">
            </div>
            #}
        </div>
        {% endif %} 
    {% endif %}           

    {% if detailsQuestionnaire[0] is not null %}
    <h1>ToDo_Titre_de_bloc_selon_questionnaire_type_avec_traduction</h1>
    <div class="block-total">
        <div class="block-total-part1-2">
            <h2>Date de réponse - 01/01/2000 à 00h00 -</h2>
            <p>De 1 à 10, comment noteriez-vous les différents attributs du site Petite Frimousse ? (10 représente la meilleure note)<br />
                <span class="color8">8/10</span> - Facilité de recherche et de navigation<br />
                <span class="color7">7/10</span> - Information sur les produits<br />
                <span class="color8">8/10</span> - Prix des produits<br />
                <span class="color10">10/10</span> - Facilité à passer une commande (panier, paiement)<br />
                <span class="color3">3/10</span> - Prix et options de transport <br />
                <br />
                Etes-vous satisfait de la façon dont s'est déroulé votre achat sur ce site ? <span class="color7">Plutôt</span> <br />
                <br />
                Votre Avis intéresse les internautes !
                <br />
                Pour utiliser votre droit de réponse, <a href="{{ path('extranet_questionnaires_droit_de_reponse_ajout') }}">cliquez ici</a>
            </p>

            <div>
                Ici le commentaire de l'internaute
            </div>
            <p>Grâce au « Droit de réponse », répondez directement aux remarques de vos clients ! <button><img src="{{ asset('bundles/fianetsceau/images/extranet/fleche-btn.png') }}" width="14" height="12"/> Répondez</button></p>
        </div>
        
        {# ToDo : on doit ajouter le bloc de droit de réponse UNIQUEMENT si un commentaire a été mis pour le commentaire principal du questionnaire ET que le questionnaire Q2 n'a pas été répondu dans le cas de questionnaire Q1/Q2 #}
        
        <div class="block-total-part3">
            <div class="block-info-rep">
                <div class="btn-droit-reponse"><img src="{{ asset('bundles/fianetsceau/images/extranet/droit-reponse.png') }}" width="59" height="59"/>
                </div>
                {# ToDo : cette partie sera à revoir car le contenu devra être géré via le BO + ATTENTION texte devant être traductible #}
                <p class="reponse"><strong>Utilisez votre droit de réponse</strong><br />
                    Vous n'êtes pas d'accord avec un avis posté sur votre Fiche Marchand ? Vous souhaitez apporter une explication sur ce qu'il s'est passé ?<br />
                    <br />
                    Grâce au « Droit de réponse », vous pouvez répondre directement aux remarques de vos clients ! Votre commentaire sera visible sur le site FIA-NET.com ou depuis n'importe quel moteur de recherche !<br />
                    <br />
                    N'oubliez pas que le droit de réponse doit être exercé dans le respect de <span class="lien" id="lienLaCharte">{{ 'commun_droit_de_reponse_charte_2'|trans }}</span>.</p>
                <div class="reponse" id="laCharte">{{ 'commun_charte_commercant'|trans|raw }}</div>
            </div>
        </div>
        
            
    </div>
    {% endif %}
     
    
    
    
{% endblock %}

{% block extranet_javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#laCharte").hide();
            $("#lienLaCharte").click(function () {
                $("#laCharte").slideToggle();
            });
        });
    </script>
{% endblock %}
