{% extends "FIANETSceauBundle:Extranet:extranet.html.twig" %}

{% trans_default_domain 'commun' %}

{% block title %}
    {{ parent() }} : {{ 'commun_detail_de_questionnaire'|trans }}
{% endblock %}

{% block extranet_stylesheets %}
    {% stylesheets
    'bundles/fianetsceau/css/tooltipster/tooltipster.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block extranet_body %}

    {% if questionnaire[0] is not null %}    
    <h1>{{ 'commun_avis_de'|trans }} {% if questionnaire[0].commande.prenom is not empty %}{% if questionnaire[0].commande.prenom is not empty %}{{ questionnaire[0].commande.prenom |capitalize }}{% endif %} {% if questionnaire[0].commande.nom is not empty %}{{ questionnaire[0].commande.nom |upper }}{% endif %}{% endif %} <span>
            {# ToDo : il faudra gérer l'affichage prénom+nom ou adresse e-mail selon le statut du membre - à voir dans le lot lié aux membres #}
            
            <button><<</button> {# ToDo : gérer le bouton #}
            &nbsp;
            <button onclick="window.location.href = '{{ path('extranet_questionnaires_questionnaires') }}' ">{{ 'commun_questionnaires'|trans }}</button>
            &nbsp;
            <button>>></button> {# ToDo : gérer le bouton #}
        </span>
    </h1>
            
        {% if questionnaire[0].commande is not null %}
        <div class="block-total">
            <div class="block-total-part1">
                <h2>{{ 'commun_commande_informations'|trans }} {% if questionnaire[0].commande.reference is not empty %}{{ questionnaire[0].commande.reference }}{% endif %} {{ 'commun_du'|trans }} {% if questionnaire[0].commande.date is not empty %}{{ questionnaire[0].commande.date|localizeddate('short', 'none') }} {{ 'commun_a'|trans }} {{ questionnaire[0].commande.date|localizeddate('none', 'short') }}{% endif %}</h2>
                <dt>{% if questionnaire[0].commande.prenom is not empty %}{% if questionnaire[0].commande.prenom is not empty %}{{ questionnaire[0].commande.prenom |capitalize }}{% endif %} {% if questionnaire[0].commande.nom is not empty %}{{ questionnaire[0].commande.nom |upper }}{% endif %}{% endif %}</dt>
                <hr />
                <dt>{% if questionnaire[0].commande.email is not empty %}{{ questionnaire[0].commande.email }}{% endif %}</dt>
                <hr />
                <dd>{{ 'commun_commande_date'|trans }} :</dd>
                <dt>{% if questionnaire[0].commande.date is not empty %}{{ questionnaire[0].commande.date|localizeddate('short', 'none') }} {{ 'commun_a'|trans }} {{ questionnaire[0].commande.date|localizeddate('none', 'short') }}{% endif %}</dt>
                <hr />                
                <dd>{{ 'commun_questionnaire_envoye_par'|trans }} :</dd>
                <dt>FIA-NET</dt> {# ToDo : à gérer quand on fera les questionnaires hors flux XML #}
            </div>
            <div class="block-total-part2">
                <h2>&nbsp;</h2>
                <dd>{{ 'commun_membre_pseudo'|trans }} :</dd>
                <dt>{% if questionnaire[0].membre.pseudo is not empty %}{{ questionnaire[0].membre.pseudo }}{% endif %}</dt>
                <hr />
                <dd>{{ 'commun_commande_montant'|trans }} :</dd>
                <dt>{% if questionnaire[0].commande.montant is not empty %}{{ questionnaire[0].commande.montant }} &euro;  {% endif %} {# ToDo : on devra éventuellement gérer les devises pour les montants #}</dt>
                <hr />
                <dd>{{ 'commun_commande_site'|trans }} :</dd>
                <dt>
                {% if questionnaire[0].site is not null %}
                    {% if questionnaire[0].site.nom is not empty %}{{ questionnaire[0].site.nom }} {% endif %}
                {% endif %}
                {% if questionnaire[0].sousSite is not null %}
                    - {% if questionnaire[0].sousSite.nom is not empty %}{{ questionnaire[0].sousSite.nom }} {% endif %}
                {% endif %} 
                </dt>            
            </div>
            {#
            <div class="block-total-part3b">
            </div>
            #}
        </div>
        {% endif %} 

    <h1>{{ questionnaireTypeLibelle|trans({}, 'commun_questionnaires_repondus') }}</h1>
    <div class="block-total">
        <div class="block-total-part1-2">           
            
            {% if questionnaire[0].questionnaireReponses[0] is defined %}
                {% set commentairePrincipal = questionnaire[0].questionnaireReponses[0] %}
                {% if questionnaire[0].questionnaireReponses[0].droitDeReponses[0] is defined %}
                    {% set droitDeReponse = questionnaire[0].questionnaireReponses[0].droitDeReponses[0] %}
                {% endif %}
            {% endif %}
            
            {{ include('FIANETSceauBundle:Commun:questionnaire_repondu.html.twig', {'questionnaireRepondu': questionnaire[0], 'questionnaireRepondu_dateReponse': questionnaire[0].dateReponse, 'questionnaireRepondu_listeQuestionsReponses' : questionnaireListeQuestionsReponses }) }}
            
            {% if commentairePrincipal is defined %}
                {# ToDo : on doit ajouter le bloc de droit de réponse UNIQUEMENT si un commentaire a été mis pour le commentaire principal du questionnaire ET que le questionnaire Q2 n'a pas été répondu dans le cas de questionnaire Q1/Q2 #}
                {% if droitDeReponse is defined %}
                    <div class="drt-rep"><strong>{{ 'commun_droit_de_reponse'|trans()|upper }} - {{ 'commun_le'|trans }} {{ droitDeReponse.dateInsertion|localizeddate('short', 'none') }} {{ 'commun_a'|trans }} {{ droitDeReponse.dateInsertion|localizeddate('none', 'short') }} - </strong>
                    <br />{{ droitDeReponse.commentaire }}</div>
                {% else %}                    
                    <p>{{ 'pour_utiliser_droit_de_reponse'|trans({}, 'extranet_droit_de_reponse')|replace({"##URL##" : path('extranet_questionnaires_droit_de_reponse_ajout', {'qid': questionnaire[0].id, 'qrid': commentairePrincipal.id}) })|raw }}</p> {#ToDo : récupérer les bons qid et qrid pour mettre en arguments #}
                    <br />
                    <p>{{ 'repondez_directement'|trans({}, 'extranet_droit_de_reponse')|raw }} <button onclick="window.location.href = '{{ path('extranet_questionnaires_droit_de_reponse_ajout', {'qid': questionnaire[0].id, 'qrid': commentairePrincipal.id}) }}' "><img src="{{ asset('bundles/fianetsceau/images/extranet/fleche-btn.png') }}" width="14" height="12"/> {{ 'repondez'|trans({}, 'extranet_droit_de_reponse') }}</button></p>
                {% endif %}
            {% endif %}
            
        </div>
        
        {# ToDo : on doit ajouter le bloc de droit de réponse UNIQUEMENT si un commentaire a été mis pour le commentaire principal du questionnaire ET que le questionnaire Q2 n'a pas été répondu dans le cas de questionnaire Q1/Q2 #}
        {% if commentairePrincipal is defined %}
        <div class="block-total-part3">
            <div class="block-info-rep">
                <div class="btn-droit-reponse"><img src="{{ asset('bundles/fianetsceau/images/extranet/droit-reponse.png') }}" width="59" height="59"/>
                </div>
                {# ToDo : cette partie sera à revoir car le contenu devra être géré via le BO + ATTENTION texte devant être traduit / ! \ Réfléchir au process #}
                <p class="reponse">
                    {{ 'detail_questionnaire_bloc_droit_de_reponse'|trans({}, 'extranet_droit_de_reponse')|raw }}
                </p>
                {# <div class="reponse" id="laCharte">{{ 'commun_charte_commercant'|trans|raw }}</div> 
                <span class="lien"  id="lienLaCharte" >{{ 'commun_droit_de_reponse_charte_2'|trans }}</span> #}
            </div>
        </div>
        {% endif %} 
            
    </div>
    {% endif %}
   
    {% if questionnaireSuivant is not null %}
    <h1>{{ questionnaireLieTypeLibelle|trans({}, 'commun_questionnaires_repondus') }}</h1>
    
        {% if questionnaireLie[0] is not null %}
        <div class="block-total">
            <div class="block-total-part1-2">           

                {% if questionnaireLie[0].questionnaireReponses[0] is defined %}
                    {% set commentairePrincipalLie = questionnaireLie[0].questionnaireReponses[0] %}
                    {% if questionnaireLie[0].questionnaireReponses[0].droitDeReponses[0] is defined %}
                        {% set droitDeReponseLie = questionnaireLie[0].questionnaireReponses[0].droitDeReponses[0] %}
                    {% endif %}
                {% endif %}

                {{ include('FIANETSceauBundle:Commun:questionnaire_repondu.html.twig', {'questionnaireRepondu': questionnaireLie[0], 'questionnaireRepondu_dateReponse': questionnaireLie[0].dateReponse, 'questionnaireRepondu_listeQuestionsReponses' : questionnaireLieListeQuestionsReponses }) }}

                {% if commentairePrincipalLie is defined %}
                    {# ToDo : on doit ajouter le bloc de droit de réponse UNIQUEMENT si un commentaire a été mis pour le commentaire principal du questionnaire ET que le questionnaire Q2 n'a pas été répondu dans le cas de questionnaire Q1/Q2 #}
                    {% if droitDeReponseLie is defined %}
                        <div class="drt-rep"><strong>{{ 'commun_droit_de_reponse'|trans()|upper }} - {{ 'commun_le'|trans }} {{ droitDeReponseLie.dateInsertion|localizeddate('short', 'none') }} {{ 'commun_a'|trans }} {{ droitDeReponseLie.dateInsertion|localizeddate('none', 'short') }} - </strong>
                        <br />{{ droitDeReponseLie.commentaire }}</div>
                    {% else %}                    
                        <p>{{ 'pour_utiliser_droit_de_reponse'|trans({}, 'extranet_droit_de_reponse')|replace({"##URL##" : path('extranet_questionnaires_droit_de_reponse_ajout', {'qid': questionnaireLie[0].id, 'qrid': commentairePrincipalLie.id}) })|raw }}</p> {#ToDo : récupérer les bons qid et qrid pour mettre en arguments #}
                        <br />
                        <p>{{ 'repondez_directement'|trans({}, 'extranet_droit_de_reponse')|raw }} <button onclick="window.location.href = '{{ path('extranet_questionnaires_droit_de_reponse_ajout', {'qid': questionnaireLie[0].id, 'qrid': commentairePrincipalLie.id}) }}' "><img src="{{ asset('bundles/fianetsceau/images/extranet/fleche-btn.png') }}" width="14" height="12"/> {{ 'repondez'|trans({}, 'extranet_droit_de_reponse') }}</button></p>
                    {% endif %}
                {% endif %}

            </div>

            {# ToDo : on doit ajouter le bloc de droit de réponse UNIQUEMENT si un commentaire a été mis pour le commentaire principal du questionnaire #}
            {% if commentairePrincipalLie is defined %}
            <div class="block-total-part3">
                <div class="block-info-rep">
                    <div class="btn-droit-reponse"><img src="{{ asset('bundles/fianetsceau/images/extranet/droit-reponse.png') }}" width="59" height="59"/>
                    </div>
                    {# ToDo : cette partie sera à revoir car le contenu devra être géré via le BO + ATTENTION texte devant être traduit / ! \ Réfléchir au process #}
                    <p class="reponse">
                        {{ 'detail_questionnaire_bloc_droit_de_reponse'|trans({}, 'extranet_droit_de_reponse')|raw }}
                    </p>
                    {# <div class="reponse" id="laCharte">{{ 'commun_charte_commercant'|trans|raw }}</div> 
                    <span class="lien"  id="lienLaCharte" >{{ 'commun_droit_de_reponse_charte_2'|trans }}</span> #}
                </div>
            </div>
            {% endif %} 

        </div>
        {% endif %}
        
    {% endif %} 
    
{% endblock %}

{% block extranet_javascripts %}
    {% javascripts
    'bundles/fianetsceau/js/tooltipster/jquery.tooltipster.min.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    
    <script type="text/javascript"> 
        $(document).ready(function () {
            {#
            $("#laCharte").hide();
            $("#lienLaCharte").click(function () {
                $("#laCharte").slideToggle();
            });
            #}
            
            $('#tooltip').tooltipster({
                contentAsHTML: true,
                content: $('{% spaceless %}{{ 'commun_charte_commercant'|trans|replace({"'" : "\\'" })|raw }}{% endspaceless %}'),
                interactive: true,
                maxWidth: 550,
                position: 'left',
                offsetX: 0
            });

        });
    </script>
{% endblock %}
