{% extends 'FIANETSceauBundle:Extranet:extranet.html.twig' %}

{% trans_default_domain 'extranet_questionnaires_question_perso' %}

{% block title %}
    {{ parent() }} : {% trans %}title_page{% endtrans %}
{% endblock %}

{% block extranet_stylesheets %}
    {% stylesheets
    'bundles/fianetsceau/css/extranet/questionnaires.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block extranet_body %}
    <div class="content">
        <div class="block-message">
            {% for messageSucces in app.session.flashbag.get('creation_succes') %}
                <p class="succes">{{ messageSucces }}</p>
            {% endfor %}
            {% for messageErreur in app.session.flashbag.get('creation_erreur') %}
                <p class="erreur">{{ messageErreur }}</p>
            {% endfor %}
        </div>

        <h1>{% trans %}titre_page{% endtrans %}</h1>

        <div class="block-total">
            <div class="block-total-part1-2">
                <ul>
                    <li>
                        {% trans %}frise1{% endtrans %}<br/>
                        <img src="{{ asset('bundles/fianetsceau/images/extranet/picto-quest-create.png') }}" width="66" height="54" alt=""/>
                    </li>
                    <li class="arrow">
                        <img src="{{ asset('bundles/fianetsceau/images/extranet/picto-arrow.png') }}" width="17" height="24" alt=""/>
                    </li>
                    <li>
                        {% trans %}frise2{% endtrans %}<br/>
                        <img src="{{ asset('bundles/fianetsceau/images/extranet/picto-quest-valid.png') }}" width="82" height="55" alt=""/>
                    </li>
                    <li class="arrow">
                        <img src="{{ asset('bundles/fianetsceau/images/extranet/picto-arrow.png') }}" width="17" height="24" alt=""/>
                    </li>
                    <li>
                        {% trans %}frise3{% endtrans %}<br/>
                        <img src="{{ asset('bundles/fianetsceau/images/extranet/picto-quest-online.png') }}" width="89" height="54" alt=""/>
                    </li>
                    <li class="arrow">
                        <img src="{{ asset('bundles/fianetsceau/images/extranet/picto-arrow.png') }}" width="17" height="24" alt=""/>
                    </li>
                    <li>
                        {% trans %}frise4{% endtrans %}<br/><br/>
                        <img src="{{ asset('bundles/fianetsceau/images/extranet/picto-quest-stat.png') }}" width="92" height="54" alt=""/>
                    </li>
                </ul>
            </div>

            <div class="block-total-part3">
                <div class="block-info-comp">
                    <p>
                        <strong>
                            Profitez de nos questionnaires de satisfaction pour solliciter l'avis de vos clients sur
                            un élément spécifique : une opération promotionnelle, un service spécifique, une refonte de
                            votre site, une nouvelle mise en avant de vos produits… Tous ces évènements peuvent être la
                            source de retours précis et qualitatifs sur vos actions.<br/>
                            <br/>
                            Vous pouvez ajouter deux questions par questionnaire envoyé, post-achat ou post-livraison en
                            choisissant la date qui convient le mieux. Ciblez ainsi le moment le plus opportun pour
                            communiquer avec vos clients. Les questions seront ajoutées à la fin du
                            questionnaire.
                        </strong>
                    </p>
                </div>
            </div>
        </div>

        {% if questionsEnAttenteDeValidation is not null %}
            <h1>{% trans %}titre2_page{% endtrans %}</h1>

            <div class="block-total">
                <table width="100%" cellspacing="0" cellpadding="0" border="0" class="gen" >
                    <tr>
                        <th>Libellé</th>
                        <th>Type</th>
                        <th>Liste des réponses</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                    </tr>
                    {% for question in questionsEnAttenteDeValidation %}
                        <tr {% if loop.index0 is even %}class="alt"{% endif %}>
                            <td>{{ question.libelle }}</td>
                            <td>{{ question.questionType.libelle|trans({}, 'questionType') }}</td>
                            <td>
                                {% for reponse in question.reponses %}
                                    {{ loop.index }} ) {{ reponse.libelle }}<br />
                                {% endfor %}
                            </td>
                            <td>{{ question.dateDebut|localizeddate('short', 'none') }}</td>
                            <td>{{ question.dateFin|localizeddate('short', 'none') }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}

        <h1>{% trans %}titre3_page{% endtrans %}</h1>

        <div class="block-total align-gauche">
            {{ form_start(form, {'attr' : {'id': 'form_question_perso'}}) }}

                <h2>Question</h2>
                <div>{{ form_label(form.questionType, 'Type') }} : {{ form_widget(form.questionType, {'attr' : {'onchange' : 'changerTypeQuestion(this.value);'}} ) }}</div>

                {% if questionType is not null %}
                    <div>{{ form_label(form.libelle, 'Libellé') }} : {{ form_widget(form.libelle) }} <span class="erreur">{{ form_errors(form.libelle) }}</span></div>

                    <div id="dates">
                        {{ form_label(form.dateDebut, 'Date de publication') }} : {{ form_widget(form.dateDebut, {'attr' : {'class' : 'calendrier'}}) }} {{ form_label(form.dateFin, 'au') }} : {{ form_widget(form.dateFin, {'attr' : {'class' : 'calendrier'}}) }}
                        <span class="erreur">{{ form_errors(form.dateDebut) }}</span> <span class="erreur">{{ form_errors(form.dateFin) }}</span>
                    </div>

                    {% if questionType.id == 3 %}
                        <div id="notation">
                            {{ form_label(form.dateDebut, 'Bornes de notation (incluses)') }} : {{ form_widget(form.valeurMin) }} {{ form_label(form.dateDebut, 'à') }} {{ form_widget(form.valeurMax) }}
                            <span class="erreur">{{ form_errors(form.valeurMin) }}</span> <span class="erreur">{{ form_errors(form.valeurMax) }}</span>
                        </div>
                    {% endif %}

                    <h2>Liste des réponses</h2>
                    {{ form_widget(form.reponses) }}

                    {% if questionType.id != 4 %}
                        <div id="ajout_reponse">Pour ajouter une réponse, <a href="#" id="lien_ajout_reponse">cliquez ici</a></div>
                    {% endif  %}

                    <button type="submit">{% trans from 'commun' %}commun_valider{% endtrans %}</button>
                {% endif %}
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}

{% block extranet_javascripts %}
    <script type="text/javascript">
        var parametresCalendriers = { firstDay: 1, minDate: 1};
        afficherCalendrier('fianet_sceaubundle_question_perso_dateDebut', '{{ app.request.locale  }}', parametresCalendriers);
        afficherCalendrier('fianet_sceaubundle_question_perso_dateFin', '{{ app.request.locale  }}', parametresCalendriers);

        {% if questionType is not null %}
            $(document).ready(function() {
                var container = $('div#fianet_sceaubundle_question_perso_reponses');

                $('#lien_ajout_reponse').click(function(e) {
                    ajoutReponse(container);
                    e.preventDefault();
                    return false;
                });

                {# Au chargement de la page il faut soit ajouter la première réponse (formulaire vide) soit afficher tous les liens de suppression (formulaire rempli) #}
                var index = container.find(':input').length;
                if (index == 0) {
                    ajoutReponse(container);
                } else {
                    console.log(container.children('div').children('div').children('div'));
                    container.children('div').children('div').children('div').each(function() {
                        ajoutLienSuppression($(this));
                    });
                }

                function ajoutReponse(container) {
                    var libelleReponse;

                    if ($('#fianet_sceaubundle_question_perso_questionType').val() != 4) {
                        libelleReponse = 'Réponse n°' + (index+1) + ' : ';
                    } else {
                        libelleReponse = ' ';
                    }

                    var prototype = $(container.attr('data-prototype').replace(/__name__label__/g, libelleReponse).replace(/__name__/g, index));

                    ajoutLienSuppression(prototype);
                    container.append(prototype);

                    index++;
                }

                function ajoutLienSuppression(prototype) {
                    {# Le lien de suppression n'est pas affiché pour les commentaires car il n'y a au mini et au maxi une réponse #}
                    if ($('#fianet_sceaubundle_question_perso_questionType').val() != 4) {
                        var img = "{{ asset('bundles/fianetsceau/images/extranet/supprimer.png') }}";

                        var deleteLink = $('<a href="#" class="pointer"><img src="'+ img +'" width="20" height="20" title="Supprimer la réponse" alt="Supprimer" class="supprimer"/></a>');

                        prototype.children('div').children('div').first().append(deleteLink);

                        deleteLink.click(function (e) {
                            prototype.remove();
                            e.preventDefault();
                            return false;
                        });
                    }
                }
            });
        {% endif %}

        function changerTypeQuestion(questionType) {
            afficherMasque();

            document.location.href = Routing.generate(
                    'extranet_questionnaires_questions_personnalisees_question_type',
                    {id: questionType},
                    true
            );
        }
    </script>
{% endblock %}