{% for questionnaire in questionnaires %}
    <tr {% if offset is divisible by(2) %}{% if loop.index0 is even %}class="alt"{% endif %}{% else %}{% if loop.index0 is odd %}class="alt"{% endif %}{% endif %}">
        <td>
            {{ include('FIANETSceauBundle:Extranet/Commun:indicateur.html.twig', {'indicateurReponseID': questionnaire.indicateurReponseID, 'indicateurNote': questionnaire.indicateurNote}) }}
        </td>
        <td>{{ questionnaire.dateCommande|date("d/m/Y") }}</td>
        <td>{{ questionnaire.dateReponse|date("d/m/Y") }}</td>
        <td>
            {% if questionnaire.nom is not empty %}
                {{ questionnaire.prenom }} {{ questionnaire.nom }}<br />
            {% endif %}
            {{ questionnaire.email }}
        </td>
        <td>
            {% if questionnaire.commentaire is not empty %}
                {{ questionnaire.commentaire | truncate(100, true, '') }} {% if  questionnaire.commentaire|length > 100 %}<a href="{{ path('extranet_questionnaires_detail_questionnaire', {'id': questionnaire.id}) }}">[...]</a>{% endif %}<div style="float: right;"><a href="{{ path('extranet_questionnaires_droit_de_reponse_ajout', {'qid': questionnaire.id, 'qrid': questionnaire.commentaireID}) }}"><-</a></div>
            {% else %}
                -
            {% endif %}
        </td>
        {% if parametrageRecommendation.question_id is not null %}<td>{{ questionnaire.recommandation }} / {{ questionnaire.recommandationValeurMax }}</td>{% endif %}
        <td>
            <a href="{{ path('extranet_questionnaires_detail_questionnaire', {'id': questionnaire.id}) }}">Détail</a>
        </td>
    </tr>
{% endfor %}