{% extends 'FIANETSceauBundle:Extranet:extranet.html.twig' %}

{% trans_default_domain 'extranet_questionnaires_questionnaires' %}

{% block title %}
    {{ parent() }} : {% trans %}titre_page{% endtrans %}
{% endblock %}

{% block extranet_stylesheets %}
    {% stylesheets
    'bundles/fianetsceau/css/extranet/questionnaires.css'
    'bundles/fianetsceau/css/tooltipster/tooltipster.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block extranet_body %}

    <h1>{% trans %}titre{% endtrans %}</h1>

    <div class="block-total">
        {{ form_start(form, {'action' : path('extranet_questionnaires_questionnaires')}) }}
            <div class="block-total-part1">
                <h2>{% trans %}label_recherche_date{% endtrans %}</h2>
                {% trans %}recherche_date_du{% endtrans %} {{ form_widget(form.dateDebut) }} <span class="erreur">{{ form_errors(form.dateDebut) }}</span> {% trans %}recherche_date_au{% endtrans %} {{ form_widget(form.dateFin) }} <span class="erreur">{{ form_errors(form.dateFin) }}</span><button type="submit">{% trans %}libelle_bouton{% endtrans %}</button>

                <h2>{% trans %}recherche_avancee{% endtrans %}</h2>
                {% trans %}indicateur{% endtrans %} :
                <div id="indicateurs">
                    {% for indicateur in form.indicateurs %}
                        {% if indicateur.vars.value == 'vert' %}
                            <img src="{{ asset('bundles/fianetsceau/images/indicateur-vert.png') }}" width="15" height="19" alt="{% trans from 'notes'%}notes_indicateur_vert{% endtrans %}" title="{% trans from 'notes' %}notes_indicateur_vert{% endtrans %}" onclick="selectIndicateur(0, this);" {% if indicateur.vars.checked %}class="indicateur-selectionne" {% endif %}/>
                        {% elseif indicateur.vars.value == 'jaune' %}
                            <img src="{{ asset('bundles/fianetsceau/images/indicateur-jaune.png') }}" width="15" height="17" alt="{% trans from 'notes' %}notes_indicateur_jaune{% endtrans %}"  title="{% trans from 'notes' %}notes_indicateur_jaune{% endtrans %}" onclick="selectIndicateur(1, this);" {% if indicateur.vars.checked %}class="indicateur-selectionne" {% endif %}/>
                        {% elseif indicateur.vars.value == 'rouge' %}
                            <img src="{{ asset('bundles/fianetsceau/images/indicateur-rouge.png') }}" width="14" height="19" alt="{% trans from 'notes' %}notes_indicateur_rouge{% endtrans %}" title="{% trans from 'notes' %}notes_indicateur_rouge{% endtrans %}" onclick="selectIndicateur(2, this);" {% if indicateur.vars.checked %}class="indicateur-selectionne" {% endif %}/>
                        {% else %}
                            <img src="{{ asset('bundles/fianetsceau/images/indicateur-gris.png') }}" width="15" height="17" alt="{% trans from 'notes' %}notes_indicateur_gris{% endtrans %}" title="{% trans from 'notes' %}notes_indicateur_gris{% endtrans %}" onclick="selectIndicateur(3, this);" {% if indicateur.vars.checked %}class="indicateur-selectionne" {% endif %}/>
                        {% endif %}
                        {{ form_widget(indicateur) }}
                    {% endfor %}
                    <button type="submit">{% trans %}libelle_bouton{% endtrans %}</button><br />
                </div>
                {% if not parametrageLivraison %}
                    {% do  form.livraison.setRendered %}
                {% else %}
                    {% trans %}mode_de_livraison{% endtrans %} <div id="tooltip">[I]</div>: <div class="select">{{ form_widget(form.livraison) }}</div><button type="submit">{% trans %}libelle_bouton{% endtrans %}</button>
                {% endif %}
            </div>
            <div class="block-total-part2">
                <h2>{% trans %}recherche_contenu{% endtrans %}</h2>
                {{ form_widget(form.recherche, { 'attr': {'placeholder': 'recherche_placeholder'|trans} }) }}<button type="submit">{% trans %}libelle_bouton{% endtrans %}</button><br />
                {% trans %}litige_en_cours{% endtrans %} : {{ form_widget(form.litige) }}<button type="submit">{% trans %}libelle_bouton{% endtrans %}</button>
                {% trans %}retenir_parametre{% endtrans %} : {{ form_widget(form.retenir) }}<button type="submit">{% trans %}libelle_bouton{% endtrans %}</button>
            </div>
            {{ form_widget(form.tri) }}
        {{ form_end(form) }}
    </div>

    <h1>{% transchoice nbTotalQuestionnaires with {'%nbr%': nbTotalQuestionnaires} %}questionnaires_trouves{% endtranschoice %}</h1>

    {% if nbTotalQuestionnaires != 0 %}
        <table id="listeQuestionnaires" width="100%" cellspacing="0" cellpadding="0" border="0" class="gen">
            <tr>
                <th>{% trans from 'notes' %}notes_indicateur{% endtrans %}</th>
                <th>{{ parametrageLibelleCommandeDate|trans({}, 'commun') }} {% if tri == 1 %}<a onclick="selectTriQuestionnaires(0);" class="pointer">^</a>{% else %}<a onclick="selectTriQuestionnaires(1);" class="pointer">V</a>{% endif %}</th>
                <th>{% trans from 'commun' %}commun_date_reponse_questionnaire{% endtrans %} {% if tri == 2 %}<a onclick="selectTriQuestionnaires(3);" class="pointer">v</a>{% else %}<a onclick="selectTriQuestionnaires(2);" class="pointer">^</a>{% endif %}</th>
                <th>{% trans from 'commun' %}commun_adresse_email{% endtrans %} </th>
                <th>{% trans from 'commun' %}commun_verbatim{% endtrans %}</th>
                {% if parametrageRecommendation.question_id is not null %}
                    <th>{% trans from 'notes' %}notes_indice_recommandation{% endtrans %} {% if tri == 4 %}<a onclick="selectTriQuestionnaires(5);" class="pointer">v</a>{% else %}<a onclick="selectTriQuestionnaires(4);" class="pointer">^</a>{% endif %}</th>
                {% endif %}
                <th>{% trans from 'commun' %}commun_details{% endtrans %}</th>
            </tr>
            {{ include('FIANETSceauBundle:Extranet/Questionnaires:questionnaires_lignes.html.twig', {'questionnaires': questionnaires, 'parametrageIndicateur': parametrageIndicateur, 'parametrageRecommendation': parametrageRecommendation}) }}
        </table>

        <div id="chargement"><img src="{{ asset('bundles/fianetsceau/images/ajax-loader.gif') }}" alt="Chargement en cours" /></div>
    {% endif %}
{% endblock %}

{% block extranet_javascripts %}
    {% javascripts
    'components/jquery-ui/ui/datepicker.js'
    'bundles/fianetsceau/js/calendrier.js'
    'bundles/fianetsceau/js/extranet/questionnaires.js'
    'bundles/fianetsceau/js/tooltipster/jquery.tooltipster.min.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    {% if app.request.locale != 'en' %}
        <script src="{{  asset('bundles/fianetsceau/js/calendrier-'~ app.request.locale ~'.js') }}" type="text/javascript"></script>
    {% endif  %}

    <script type="text/javascript">
        decocherRetenir();
        afficherCalendrier('questionnaires_liste_dateDebut');
        afficherCalendrier('questionnaires_liste_dateFin');

        $('#tooltip').tooltipster({
                contentAsHTML: true,
                content: $('{% spaceless %}{{ 'tooltip_livraison'|trans|replace({"'" : "\\'" })|replace({"##LIEN##" : asset('documents/dispo_techniques_flux_xml.pdf') })|raw }}{% endspaceless %}'),
                interactive: true,
                maxWidth: 350
            }
        );

        {% if nbTotalQuestionnaires != 0 %}
            paquetQuestionnairesSuivants("{% trans %}plus_de_questionnaire{% endtrans %}", {{ nbQuestionnairesMax  }}, '{{ dateDebut }}', '{{ dateFin }}', {{ tri }}, '{{ recherche }}', '{{ indicateurs }}', '{{ livraison }}');
        {% endif %}
    </script>
{% endblock %}

