{% extends "FIANETSceauBundle:Extranet:extranet.html.twig" %}

{% block title %}
    {{ parent() }} : liste des questionnaires
{% endblock %}

{% block extranet_body %}

    <h1>Recherche</h1>

    <div class="block-total">
        <form action="{{ path('extranet_questionnaires_questionnaires') }}" method="post">
            <div class="block-total-part1">
                <h2>Recherche par date de réponse au questionnaire</h2>
                du <input type="text"/> au <input type="text"/>

                <h2>Recherche avancée</h2>
                Indicateur de satisfaction : BV BJ BR BG <button type="submit">GO</button><br />
                Mode de livraison : <div class="select"><select><option>Retrait magasin</option><option>Livraison domicile</option></select></div><button type="submit">GO</button>
            </div>
            <div class="block-total-part2">
                <h2>Recherche par contenu</h2>
                <input type="text" value="Email, pseudonyme, nom, mot clé, numéro de commande" /><button type="submit">GO</button><br />
                Litige en cours : <input type="checkbox"/><button type="submit">GO</button>
                Retenir ces paramètres de recherche :<input type="checkbox"/><button type="submit">GO</button>
            </div>
            <div class="block-total-part3">
                Site concerné : <div class="select"><select><option>Site 1</option><option>Site 2</option></select></div><button type="submit">GO</button>
            </div>
            <input type="hidden" name="tri" value="{{ tri }}" />
        </form>
    </div>

    <h1>{{ nbTotalQuestionnaires }} questionnaires trouvés</h1>

    {% if nbTotalQuestionnaires != 0 %}
        <table id="listeQuestionnaires" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tr>
                <th>Indicateur</th>
                <th>Site</th>
                <th>Date de commande {% if tri == 1 %}<a onclick="selectTri(0);" style="cursor: pointer">v</a>{% else %}<a onclick="selectTri(1);" style="cursor: pointer">^</a>{% endif %}</th>
                <th>Date de réponse au questionnaire {% if tri == 2 %}<a onclick="selectTri(3);" style="cursor: pointer">v</a>{% else %}<a onclick="selectTri(2);" style="cursor: pointer">^</a>{% endif %}</th>
                <th>Adresse e-mail</th>
                <th>Verbatim</th>
                <th>Indice de recommendation</th>
                <th>Détails</th>
            </tr>
            {{ include('FIANETSceauBundle:Extranet/Questionnaires:questionnaires_lignes.html.twig', {'questionnaires': questionnaires}) }}
        </table>

        <div id="chargement"></div>
    {% endif %}
{% endblock %}

{% block extranet_javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            var offset = {{ nbQuestionnairesMax }};

            $(window).data('ajaxready', true);

            var imgURL = "{{ asset('bundles/fianetsceau/images/ajax-loader.gif') }}";
            $('#chargement').append('<img src="'+ imgURL +'" alt="Chargement en cours" />');

            $(window).scroll(function () {
                if ($(window).data('ajaxready') == false) return;

                if (($(window).scrollTop() + $(window).height()) == $(document).height()) {
                    $(window).data('ajaxready', false);

                    $('#chargement').fadeIn(400);

                    $.post(Routing.generate('extranet_questionnaires_questionnaires', null , true),
                        {offset: offset, tri: {{ tri }}},
                        function (data) {
                            if (data != '') {
                                $('#listeQuestionnaires').find('tr:last').after(data);

                                offset += {{ nbQuestionnairesMax }};

                                $(window).data('ajaxready', true);
                                $('#chargement').fadeOut(400);

                            } else {
                                $('#chargement').hide().after('<p>Il n\'y a plus de questionnaire.</p>');
                            }
                        }
                    );
                }
            });
        });

        function selectTri(numTri)
        {
            $('input[name=tri]').val(numTri);
            $('form').submit();
        }
    </script>
{% endblock %}

