{% for questionnaire in questionnaires %}
    <tr {% if offset is divisible by(2) %}{% if loop.index0 is even %}class="alt"{% endif %}{% else %}{% if loop.index0 is odd %}class="alt"{% endif %}{% endif %}">
        <td>
            {{ include('FIANETSceauBundle:Extranet/Commun:indicateur.html.twig', {'indicateurReponseID': questionnaire.indicateurReponseID, 'indicateurNote': questionnaire.indicateurNote}) }}
        </td>
        <td>{{ questionnaire.dateCommande|localizeddate('short', 'none') }}</td>
        <td>{{ questionnaire.dateReponse|localizeddate('short', 'none') }}</td>
        <td>
            {% if questionnaire.nom is not empty %}
                {{ questionnaire.prenom }} {{ questionnaire.nom }}<br />
            {% endif %}
            {{ questionnaire.email }}
        </td>
        <td>
            {% if questionnaire.commentaire is not empty %}
                {{ questionnaire.commentaire | truncate(100, true, '') }} {% if  questionnaire.commentaire|length > 100 %}<a href="{{ path('extranet_questionnaires_detail_questionnaire', {'id': questionnaire.id}) }}">[...]</a>{% endif %}
                <a href="{{ path('extranet_questionnaires_droit_de_reponse_ajout', {'qid': questionnaire.id, 'qrid': questionnaire.commentaireID}) }}" class="fleche-droit-reponse">
                    <img src="{{ asset('bundles/fianetsceau/images/extranet/fleche_grise.png') }}" width="18" height="17" title="{% trans from 'extranet_questionnaires_questionnaires' %}droit_reponse{% endtrans %}" alt="{% trans from 'extranet_questionnaires_questionnaires' %}droit_reponse{% endtrans %}" />
                </a>
            {% else %}
                -
            {% endif %}
        </td>
        {% if parametrageRecommendation.question_id is not null %}<td>{{ questionnaire.recommandation|round(1) }} / {{ questionnaire.recommandationValeurMax|round(1) }}</td>{% endif %}
        <td>
            <a href="{{ path('extranet_questionnaires_detail_questionnaire', {'id': questionnaire.id}) }}">
                <img src="{{ asset('bundles/fianetsceau/images/extranet/picto_detail.png') }}" width="12" height="17" title="{% trans from 'extranet_questionnaires_questionnaires' %}details_questionnaire{% endtrans %}" alt="{% trans from 'extranet_questionnaires_questionnaires' %}details_questionnaire{% endtrans %}" />
            </a>
        </td>
    </tr>
{% endfor %}