{% extends 'FIANETSceauBundle:Extranet:extranet.html.twig' %}

{% trans_default_domain 'extranet_questionnaires_relance' %}

{% block title %}
    {{ parent() }} : {% trans %}titre_page{% endtrans %}
{% endblock %}

{% block extranet_stylesheets %}
    {% stylesheets
    'bundles/fianetsceau/css/tooltipster/tooltipster.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block extranet_body %}

    <h1>{% trans %}titre_page{% endtrans %}</h1>

    <div class="block-total">
        <div class="block-total-part1">
            <h2>{% trans %}jour_commande{% endtrans %}</h2>
            <h2>{% trans %}jour_livraison{% endtrans %}</h2>
            <h2>{% trans with {'%nbJours%' : delaiJoursRelance}%}jours_plus_tard{% endtrans %}</h2>

            <h2>{% trans %}parametrage_relance{% endtrans %}</h2>
            {{ form_start(form) }}
                Langue : {{ form_widget(form.langue) }}
                <button type="submit">{% trans from 'commun' %}commun_valider{% endtrans %}</button><br />
            {{ form_end(form) }}

            {% if nbTotalQuestionnaires != 0 %}
                <a href="{{ path('extranet_questionnaires_relance_renvoyer', {'langue_id': langue_id}) }}"><button>{% trans %}renvoyer_questionnaire{% endtrans %}</button></a>
            {% endif %}

            <a href="{{ path('extranet_questionnaires_relance_perso', {'langue_id': langue_id}) }}"><button>{% trans %}personnaliser_email{% endtrans %}</button></a>

            <a id="lien-email-type" class="lien">{% trans %}email_type{% endtrans %}</a>
            <div id="email-type" title="{% trans %}titre_email_type{% endtrans %}" class="cache">{{ render(controller('FIANETSceauBundle:Emails/Questionnaires:rendreEmailQuestionnaireRelance', {'nomTemplate': templateEmail, 'variables': {'site_nom': site_nom}, 'html': false}))}}</div>

            {% for messageSucces in app.session.flashbag.get('renvoyer_succes') %}
                <p class="succes">{{ messageSucces }}</p>
            {% endfor %}
            {% for messageErreur in app.session.flashbag.get('renvoyer_erreur') %}
                <p class="erreur">{{ messageErreur }}</p>
            {% endfor %}
            {% for messageSucces in app.session.flashbag.get('personnaliser_succes') %}
                <p class="succes">{{ messageSucces }}</p>
            {% endfor %}
            {% for messageErreur in app.session.flashbag.get('personnaliser_erreur') %}
                <p class="succes">{{ messageErreur }}</p>
            {% endfor %}
        </div>

        <div class="block-total-part2">
            <div class="block-info-rep">
                <h2>{% trans %}Titre dynamique{% endtrans %}</h2>
                <p>{% trans %}Paragraphe dynamique{% endtrans %}</p>
            </div>

            <h2>{% trans %}relance_auto{% endtrans %}</h2>
            <label>
                <input id="auto" name="auto" type="checkbox" {% if auto %}checked="checked"{% endif %} onclick="automatiserRelance({{ langue_id }}, this.checked, '{{ 'commun_demande_succes'|trans({}, 'commun')|replace({"'" : "\\'" }) }}', '{{ 'commun_demande_erreur'|trans({}, 'commun')|replace({"'" : "\\'" }) }}');"/>
                {% trans %}activee{% endtrans %} <span id="tooltip-checkbox">[I]</span>
                <p id="auto-message"></p>
            </label>
        </div>
    </div>

    <h1>{% transchoice nbTotalQuestionnaires with {'%nbr%': nbTotalQuestionnaires, '%dateDebut%': dateDebut|localizeddate('long', 'none'), '%dateFin%': dateFin|localizeddate('long', 'none')} %}questionnaires_trouves{% endtranschoice %}</h1>

    {% if nbTotalQuestionnaires != 0 %}
        <table id="listeQuestionnaires" width="100%" cellspacing="0" cellpadding="0" border="0" class="gen">
            <tr>
                <th>{% trans %}email{% endtrans %}</th>
                <th>{% trans %}date_envoi{% endtrans %}</th>
            </tr>
            {{ include('FIANETSceauBundle:Extranet/Questionnaires:relance_lignes.html.twig', {'questionnaires': questionnaires}) }}
        </table>

        <div id="chargement"><img src="{{ asset('bundles/fianetsceau/images/ajax-loader.gif') }}" alt="{% trans from 'commun' %}commun_chargement{% endtrans %}" /></div>
    {% endif %}

{% endblock %}

{% block extranet_javascripts %}
    {% javascripts
    'bundles/fianetsceau/js/tooltipster/jquery.tooltipster.min.js'
    'bundles/fianetsceau/js/extranet/relance.js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        creerPopupEmail();
        creerTooltipCheckbox('{% spaceless %}{{ 'tooltip_checkbox'|trans|replace({"'" : "\\'" })|raw }}{% endspaceless %}');

        {% if nbTotalQuestionnaires != 0 %}
            paquetQuestionnairesSuivants("{% trans %}plus_de_questionnaire{% endtrans %}", {{ nbQuestionnairesMax  }}, {{ langue_id }});
        {% endif %}
    </script>
{% endblock %}