{% extends 'FIANETSceauBundle:Extranet:extranet.html.twig' %}

{% trans_default_domain 'extranet_questionnaires_relance_perso' %}

{% block title %}
    {{ parent() }} : {% trans %}titre_page{% endtrans %}
{% endblock %}

{% block extranet_body %}

    <h1>{% trans %}titre_page{% endtrans %}</h1>

    <div class="block-total">
        <div class="block-total-part1">
            {{ render(controller('FIANETSceauBundle:Emails/Questionnaires:rendreEmailQuestionnaireRelance', {'nomTemplate': templateEmail, 'variables': {'site_nom': site_nom}, 'html': false}))}}
        </div>
        <div class="block-total-part2">
            <div class="block-info-rep">
                <h2>{% trans %}titre_paragraphe{% endtrans %}</h2>
                <p>{% trans %}corps_paragraphe{% endtrans %}</p>
                {{ form_start(form) }}

                    {% trans %}label_objet{% endtrans %} {{ form_widget(form.objet) }}<br />
                    {% trans %}precision_objet{% endtrans %}"{{ objetParDefaut }}"<br />
                    {% trans %}label_corps{% endtrans %}{{ form_widget(form.corps) }}<br />

                    <span class="erreur">
                        {{ form_errors(form.objet) }}
                    </span>

                    <br />
                    <button onclick="visualiserEmail(document.getElementById('fianet_sceaubundle_relance_corps').value); return false;">{% trans %}bouton_visualiser{% endtrans %}</button><br />
                    <button type="submit">{% trans %}bouton_valider{% endtrans %}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block extranet_javascripts %}
    {% javascripts
    'bundles/fianetsceau/js/extranet/relance.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}