{% if menu == 'tombola' %}
        {% set classFormulaire = 'inscription-formulaire-tombola' %}
        {% set action = path('site_member_register_tombola') %}
        {% set classFormulairepartenaires = 'div_partenaires-tombola' %}
        {% set button = 'btn-tombola'%}
    {% else %} 
         {% set classFormulaire = 'inscription-formulaire' %}
         {% set action = path('site_member_register') %}
        {% set classFormulairepartenaires = 'div_partenaires' %}
        {% set button = '' %}
    {%  endif %}
<form  action="{{action}}" method="post">    
    <input type="hidden" name="formulaireinscription" valuek="1" {{ form_enctype(form) }}>
    
    <div id="{{classFormulaire}}">
        
        {{ form_start(form) }}
        <div>
            {{ form_errors(form) }}
        </div>
        {{ form_row(form.civilite) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}
        <div class="infobulle_inscription">
            <a class="bloc_infobulle" href="#">
                <img src="{{ asset('bundles/sceau/images/site/home-membre/question-info-bulle.png') }}" alt="infobulle" />
                <span>
                    Pourquoi un pseudonyme ? Il sera votre nom d'utilisateur unique sur FIA-NET.com. 
                    Par défaut votre pseudonyme sera constitué de votre prénom et de la premiére lettre de votre nom 
                    (par exemple : (Alexandre Dupont = Alexandre D). Il s'affichera en face de vos avis..
                </span>
            </a>
        </div>
        {{ form_row(form.pseudo) }}
        {{ form_label(form.password)}}
        {{ form_widget(form.password) }}
        {% if menu == 'tombola' %}
            {{ form_row(form.pays) }}
            <div id="coordonnes">
                {{ form_row(form.adresse) }}
                {{ form_row(form.compAdresse) }}
                {{ form_row(form.codePostal) }}
                {{ form_row(form.ville) }}
            </div>
        {% endif %}
        
        <div class='registre-avatar'>
            {% include 'SceauBundle:Site/Security:avatar.html.twig' %}
        </div>
        <div class='div_captcha'>
            {{ form_row(form.recaptcha) }}
        </div>
    
    </div>
    <div class='{{classFormulairepartenaires}}'>
        {{ form_row(form.legal) }}
    </div>
    {% if menu == 'tombola' %}
        <div id="tombola-error">Vous Pouvez Pas participer au tombola puisque vous étes pas en france</div>
    {% endif %}
    <div class="btn-espace-membre">
        <div class="btn-1-main" id="btn-tombola">
            <input type="submit" value="Valider" class="btn-home-regiter" /> 
        </div>
	<div class="btn-1-end"></div>
    </div>
         
    {{ form_end(form) }}
    {{ form_rest(form) }}
    
   
</form>

