{% trans_default_domain 'commun' %}

{% if detailsQuestionnaireRepondu is not null %}
{# ToDo : récupérer les infos de questionnaires #}
<h2>{{ 'commun_date_reponse'|trans }} - {{ 'commun_le'|trans }} {{ infosGeneralesQuestionnaire[0].dateReponse|localizeddate('short', 'none') }} {{ 'commun_a'|trans }} {{ infosGeneralesQuestionnaire[0].dateReponse|localizeddate('none', 'short') }} -</h2>

{% if listeQuestionsReponses is not null %}
    <p>
    {% for questionReponse in listeQuestionsReponses %}
        {{ questionReponse['question'].libelle }}
        <br /><br />
    {% endfor %}
    </p>
{% endif %}

<br />

<p>De 1 à 10, comment noteriez-vous les différents attributs du site Petite Frimousse ? (10 représente la meilleure note)<br />
    <span class="color8">8/10</span> - Facilité de recherche et de navigation<br />
    <span class="color7">7/10</span> - Information sur les produits<br />
    <span class="color8">8/10</span> - Prix des produits<br />
    <span class="color10">10/10</span> - Facilité à passer une commande (panier, paiement)<br />
    <span class="color3">3/10</span> - Prix et options de transport <br />
    <br />
    Etes-vous satisfait de la façon dont s'est déroulé votre achat sur ce site ? <span class="color7">Plutôt</span> <br />
    <br />
    Votre Avis intéresse les internautes !
    <br />
    Ici le commentaire de l'internaute
</p>
{% endif %}
