{% trans_default_domain 'commun' %}

{% if questionnaireRepondu is not null %}
    <h2>{{ 'commun_date_reponse'|trans }} - {{ 'commun_le'|trans }} {{ questionnaireRepondu_dateReponse|localizeddate('short', 'none') }} {{ 'commun_a'|trans }} {{ questionnaireRepondu_dateReponse|localizeddate('none', 'short') }} -</h2>

    {# Todo : Récupération des questions/réponses à compléter #}
    {% if questionnaireRepondu_listeQuestionsReponses is not null %}

        {% for questionReponse in questionnaireRepondu_listeQuestionsReponses %}

            {% if questionReponse['cacher'] == false %}
                <p class="question">
                {{ questionReponse['question'].libelle|raw }}
                
                {# {{ questionReponse['question'].id }} #}       
                {# ToDo : à gérer selon les interfaces utilisateur (Extranet, BO, FIA-NET.com, etc. #}
                {#
                {% if questionReponse['commentairePrincipal'] == true and commentairePrincipal is defined %}
                    {% if questionnaireLieSuivant == false %}
                        {% if droitDeReponse == false %}
                        - {{ 'pour_utiliser_droit_de_reponse'|trans({}, 'extranet_droit_de_reponse')|replace({"##URL##" : path('extranet_questionnaires_droit_de_reponse_ajout', {'qid': questionnaireRepondu.id, 'qrid': questionReponse['question'].id}) })|raw }}
                        {% endif %}       
                    {% endif %}
                {% endif %}
                #}
                </p>

                {% set questionType = questionReponse['questionType'].id %}

                {% if questionReponse['questionRepondue'] == false %}

                    <p class="reponse">{{ 'questionnaire_question_pas_de_reponse'|trans({}, 'commun_questionnaires_repondus') }}</p>

                {% else %}

                    {% for questionReponseRepondu in questionReponse['reponses'] %}

                        {# {{ questionReponseRepondu.reponse.id }} #}

                        {% if questionType == 1 %}  {# commentaire #} 
                            {% if questionReponse['commentairePrincipal'] == true %}
                                <p class="question">{{ 'questionnaire_libelle_commentaire_principal'|trans({}, 'commun_questionnaires_repondus') }}</p>
                                <div class="area"><div>{{ questionReponseRepondu.commentaire|raw }}</div></div>
                            {% else %}
                                <p class="reponse">{{ questionReponseRepondu.commentaire|raw }}</p>   
                            {% endif %}
                        {% elseif questionType == 2 %}  {# choix unique #} 
                            <p class="reponse">{{ questionReponseRepondu.reponse.libelle|raw }}
                                {% if questionReponseRepondu.reponse.precision == true and questionReponseRepondu.commentaire|length > 0 %}
                                <br />{{ questionReponseRepondu.commentaire|raw }}
                                {% endif %}                                
                            </p>
                        {% elseif questionType == 3 %}  {# multichoix #} 
                            <p class="reponse">
                                - {{ questionReponseRepondu.reponse.libelle|raw }}
                                {% if questionReponseRepondu.reponse.precision == true and questionReponseRepondu.commentaire|length > 0 %}
                                <br />{{ questionReponseRepondu.commentaire|raw }}
                                {% endif %}
                            </p>
                        {% elseif questionType == 4 %}  {# menu déroulant #}     
                            <p class="reponse">{{ questionReponseRepondu.reponse.libelle|raw }}
                               {% if questionReponseRepondu.reponse.precision == true and questionReponseRepondu.commentaire|length > 0 %}
                                <br />{{ questionReponseRepondu.commentaire|raw }}
                                {% endif %}                                
                            </p>
                        {% elseif questionType == 5 %}  {# notation #} 
                            <p class="reponse">
                                {# ToDo : Récupérer la note + la note max, si pas de réponse mettre NC (fr) N/A (en) #}
                                {% if questionReponseRepondu.note is null %}
                                <span class="colorNC">{{ 'questionnaire_reponse_non_communiquee'|trans({}, 'commun_questionnaires_repondus') }}</span>
                                {% else %}
                                <span class="color{{ questionReponseRepondu.note|round(0, 'floor') }}">{{ questionReponseRepondu.note|round(0, 'floor') }}/{{ questionReponseRepondu.reponse.valeurmax|round(0, 'floor') }}</span>
                                {% endif %}
                                   {{ questionReponseRepondu.reponse.libelle|raw }}
                                
                                {% if questionReponseRepondu.reponse.precision == true and questionReponseRepondu.commentaire|length > 0 %}
                                <br />{{ questionReponseRepondu.commentaire|raw }}
                                {% endif %}
                            </p>
                        {% endif %}

                    {% endfor %}         

                {% endif %}
            
            {% endif %}
           
        {% endfor %}
    {% endif %}
{% endif %}