{% extends 'SceauBundle:Extranet:extranet.html.twig' %}

{% trans_default_domain 'extranet_questionnaires_relance_perso' %}

{% block title %}
    {{ parent() }} : {% trans %}titre_page{% endtrans %}
{% endblock %}

{% block extranet_stylesheets %}
    {% stylesheets
    'bundles/sceau/css/extranet/questionnaires.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block extranet_body %}

    <h1>{% trans %}titre_page{% endtrans %}</h1>

    <div class="block-total">
        <div class="block-relance-email">
            {{ render(controller('SceauBundle:Emails/Questionnaires:rendreEmailQuestionnaireRelance', {'nomTemplate': templateEmail, 'variables': {'site_nom': site_nom}, 'html': false}))}}
        </div>
        <div class="block-relance-info-form">
            <div class="block-relance-info">
                <p><strong>{% trans %}titre_paragraphe{% endtrans %}</strong></p>
                <p class="color11">{% trans %}corps_paragraphe{% endtrans %}</p>
            </div>

            <div class="block-relance-form">
                {{ form_start(form) }}
                    {% trans %}label_objet{% endtrans %}<br />
                    {{ form_widget(form.objet) }}<br />
                    {% trans %}precision_objet{% endtrans %}"{{ objetParDefaut }}"<br />
                    <br />
                    {% trans %}label_corps{% endtrans %} <br />
                    {{ form_widget(form.corps) }}<br />

                    <span class="erreur">
                        {{ form_errors(form.objet) }}
                    </span>

                    <br />
                    <div class="droite">
                        <button onclick="visualiserEmail(document.getElementById('sceaubundle_relance_corps').value); return false;">{% trans %}bouton_visualiser{% endtrans %}</button>
                        <button type="submit">{% trans %}bouton_valider{% endtrans %}</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block extranet_javascripts %}
    {% javascripts
    'bundles/sceau/js/extranet/relance.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}