<header>
    <div id="connect">
        {% image '@SceauBundle/Resources/public/images/extranet/img_profil.png' %}
        <img src="{{ asset_url }}" width="40" height="40" alt="Avatar"/>{{ app.user.prenomNomRaccourci }}<br/>
        {% endimage %}
        <a href="{{ path('extranet_utilisateur_logout') }}">Déconnexion</a>
    </div>
    <div id="select">
        <button class="inter">avis site</button>
        <button>avis produits</button>

        <div class="select">
            <select id="siteSelectionne" onchange="changerSite(this.value);">
                {% for site in app.user.societe.sites %}
                    <option value="{{ site.id }}" {% if app.session.get('siteSelectionne').id == site.id %} selected="selected"{% endif %}>{{ site.nom }}</option>
                {% endfor %}
            </select>
        </div>

        {{ render(controller('SceauBundle:Extranet/Commun:listeQuestionnaireType', { 'id':  app.session.get('siteSelectionne').id})) }}
    </div>
    <div id="news">
        <h6>NEWS</h6>

        <p><strong>Titre de l’actualité au nombre de caractères maximum de combien svp ? 70 car.</strong><br/>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet interdum sapien. Pellentesque at
            velit vel erat rhoncus bibendum in id arcu. Morbi nunc elit metus. <a href="#">Lire la suite</a></p>
    </div>
</header>
