{% trans_default_domain 'emails_questionnaires' %}

<table align="center" border="0" cellspacing="0" cellpadding="0" style="line-height:normal">
    <tr style="line-height:normal; text-align:center;">
        <td align="center" style="line-height:normal; display: inline-block; background-color: {{ color }}; padding: 8px; border-radius: 5px;">
            <a target="_blank" href="http://logi118.xiti.com/go.url?xts=487123&s2=4&xtor=EPR-5-[questionnaire_achat_produits_FR]--[Questionnaire1_produits]&url={{ url }}" style="color: #ffffff;">{% trans into locale %}repondre_questionnaire{% endtrans %}</a>
        </td>
    </tr>
    <tr style="line-height:normal">
        <td height="30" align="center" style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px;"><a target="_blank" href="http://logi118.xiti.com/go.url?xts=487123&s2=4&xtor=EPR-5-[questionnaire_achat_produits_FR]--[Questionnaire1_produits]&url={{ url }}" style="line-height:normal; font-weight:bold; color: {{ color }};">{{ url }}</a></td>
    </tr>
</table>
