{% extends "SceauBundle:Extranet:modal.html.twig" %}

{% block modal_header %}<h4 class="modal-title">{{ 'Actualite' | trans() }}</h4>{% endblock %}

{% block modal_body %}
    <div class="panel panel-default">
        <div class="panel-heading">Actualité</div>
        <div class="panel-body">
            <p>{{ actualite.date | date('d/m/y') }}</p>
            <p>{{ actualite.introduction }}</p>
            <p>{{ actualite.content }}</p>
        </div>
    </div>

    {% if actualitesByMonths %}
    <div class="panel panel-default">
        <div class="panel-heading">Archives</div>
        <div class="panel-body">
            {% for actualitesByMonth in actualitesByMonths %}

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a href="{{ '#actu' ~ actualitesByMonth.id }}"
                                    role="button" data-toggle="collapse" data-parent="#accordion"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    <h4 class="mini-titre">{{ actualitesByMonth.date|localizeddate('none', 'none', null, null, 'MMMM yyyy') }}</h4>
                                </a>
                            </h4>
                        </div>
                        <div id="{{ 'actu' ~ actualitesByMonth.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                {% for actualite in actualitesByMonth.actualites %}
                                    <div class="actualite-bloc">
                                        <a class="btn btn-red btn-md btn-square"
                                            href="{{ path('extranet_commun_news', {'id': actualite.id}) }}"
                                            data-toggle="modal" data-target="#modal">{{ actualite.title }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
    {% endif %}

{% endblock %}