{% extends 'SceauBundle:Site:layout.html.twig' %}
{% block CONTENT %}
        {% include "SceauBundle:Site/Common:menu.html.twig" %}    
        {% if menu == 'register' %}
            {% set locations = ['Accueil','Espace membre', 'Inscription'] %}
        {% elseif menu == 'site_operation_detail' %} 
            {% set locations = ['Accueil','Fonctionnement'] %}
        {% elseif menu == 'site_operation_news' %} 
            {% set locations = ['Accueil','Newsletter'] %}
        {% elseif menu == 'site_home_mobile' %} 
            {% set locations = ['Accueil','mobile'] %}
        {% elseif menu == 'tombola'%}
            {% set locations = ['Accueil','Tombola FIA-NET'] %}
        {% elseif menu == 'site_whos_fianet'%}
            {% set locations = ['Accueil','Qui est FIA-NET ?'] %}
        {% elseif menu == 'site_fianet_mention'%}
            {% set locations = ['Accueil','Mentions légales'] %}
        {% elseif menu == 'site_fianet_protectiondonnes'%}
            {% set locations = ['Accueil','Charte de protection des données Sceau de confiance'] %}
        {% elseif menu == 'site_fianet_cgu'%}
            {% set locations = ['Accueil','CGU'] %}
        {% elseif menu == 'site_fianet_politique'%}
            {% set locations = ['Accueil','Politique Qualité'] %}
        {% elseif menu == 'site_fianet_faq'%}
            {% set locations = ['Accueil','F.A.Q.'] %}
        {% elseif menu == 'home-membre'%}
            {% set locations = ['Accueil','Espace Membre'] %}
        {% elseif menu == 'preference'%}
            {% set locations = ['Accueil','Espace Membre', 'Mes Préférences'] %}  
        {% endif %}
        {% if locations is defined %}
            {% import "SceauBundle:Site/Common:location.html.twig" as forms %}
            {{ forms.input(locations) }}
        {%endif%}
        
        
        <div id="content">
            {% if menu == 'home' %}
                <div class="site-prem">
                    {{ include('SceauBundle:Site/Home:preniumwebsite.html.twig', {'categories': categories}) }}
                </div>
                <div class='newsletter-inscrip'>
                    {{ include('SceauBundle:Site/Home:news.html.twig', {'newsletters': newsletters}) }}
                </div>
                <div class="annuaire-main"> 
                    {{ include('SceauBundle:Site/Category:listcategory.html.twig', {'siteprenium': siteprenium}) }}
                </div>
                
                <div class="declarer-litige">
                    {% include "SceauBundle:Site/Home:letige.html.twig" %}
                </div>
                <div class='avis-conso-hier'>
                    {% include "SceauBundle:Site/Home:stats.html.twig" %}
                </div>
                <div class="jeux-concours">
                    {% include "SceauBundle:Site/Home:tombola.html.twig" %}
                </div>
            {% elseif menu == 'register' %}
                <div class="login-left">
                    {% include "SceauBundle:Site/Security:register.html.twig" %}  
                </div>
            {% elseif menu == 'site_operation_detail' %} 
                <div class="bloc_faq">
                     {% include "SceauBundle:Site/Operation:operation.html.twig" %} 
                </div>
                <div class="main-block-end"></div>
            {% elseif menu == 'site_operation_news' %} 
                    {{ include ("SceauBundle:Site/Newsletter:newslettres.html.twig", {'newsletters' : newsletters}) }}
                    <div class="main-block-end"></div>
            {% elseif  menu == 'site_home_mobile' %}
                    {% include "SceauBundle:Site/Mobile:mobile.html.twig" %}
            {% elseif  menu == 'tombola' %}
                    {{ include ("SceauBundle:Site/Tombola:tombola.html.twig", {'winners' : winners}) }}
            {% elseif  menu == 'site_whos_fianet' %}
                 {% include "SceauBundle:Site/Footer:whosfianet.html.twig" %}
             {% elseif  menu == 'site_fianet_mention' %}
                 {% include "SceauBundle:Site/Footer:mentionlegal.html.twig" %}
            {% elseif  menu == 'site_fianet_protectiondonnes' %}
                 {% include "SceauBundle:Site/Footer:protectiondonnes.html.twig" %}
            {% elseif  menu == 'site_fianet_cgu' %}
                 {% include "SceauBundle:Site/Footer:cgu.html.twig" %}
            {% elseif  menu == 'site_fianet_politique' %}
                 {% include "SceauBundle:Site/Footer:politique.html.twig" %}
            {% elseif  menu == 'site_fianet_faq' %}
                 {% include "SceauBundle:Site/Footer:faq.html.twig" %}
            {% elseif  menu == 'home-membre'%}
                <div class="block-menugche">
                    {{ include('SceauBundle:Site/Membre:menumembre.html.twig') }}
                </div>
                <div class='newsletter-inscrip'>
                    {{ include('SceauBundle:Site/Home:news.html.twig', {'newsletters': newsletters}) }}
                </div>
                {{ include('SceauBundle:Site/Membre:home.html.twig') }}
                
            {% elseif  menu == 'update-compte'%}
                <div class="block-menugche">
                    {{ include('SceauBundle:Site/Membre:menumembre.html.twig') }}
                </div>
                {% include "SceauBundle:Site/Membre:compte.html.twig" %}
            {% elseif  menu == 'preference'%}
                <div class="block-menugche">
                    {{ include('SceauBundle:Site/Membre:menumembre.html.twig') }}
                </div>
                {% include "SceauBundle:Site/Membre/Preferences:preferences.html.twig" %}
                    
                
            {% else %}
                {% include "SceauBundle:Site/Footer:politique.html.twig" %}
            {% endif %}
        </div>
{% endblock %}