{% extends 'SceauBundle:Site:layout.html.twig' %}
{% block CONTENT %}
        {% include "SceauBundle:Site/Common:menu.html.twig" %}    
        {% if menu == 'register' %}
            {% set locations = ['Accueil','Espace membre', 'Inscription'] %}
        {% elseif menu == 'operation' %} 
            {% set locations = ['Accueil','Fonctionnement'] %}
        {% elseif menu == 'newsletter' %} 
            {% set locations = ['Accueil','Newsletter'] %}
        {% elseif menu == 'mobile' %} 
            {% set locations = ['Accueil','mobile'] %}
        {% elseif menu == 'tombola'%}
            {% set locations = ['Accueil','Tombola FIA-NET'] %}
        {% elseif menu == 'whos'%}
            {% set locations = ['Accueil','Qui est FIA-NET ?'] %}
        {% elseif menu == 'mention'%}
            {% set locations = ['Accueil','Mentions légales'] %}
        {% elseif menu == 'protection'%}
            {% set locations = ['Accueil','Charte de protection des données Sceau de confiance'] %}
        {% elseif menu == 'cgu'%}
            {% set locations = ['Accueil','CGU'] %}
        {% elseif menu == 'politique'%}
            {% set locations = ['Accueil','Politique Qualité'] %}
        {% elseif menu == 'faq'%}
            {% set locations = ['Accueil','F.A.Q.'] %}
        {% endif %}
        {% if locations is defined %}
            {% import "SceauBundle:Site/Common:location.html.twig" as forms %}
            {{ forms.input(locations) }}
        {%endif%}
        
        
        <div id="content">
            {% if menu == 'home' %}
                <div class="site-prem">
                    {{ include('SceauBundle:Site/Home:preniumwebsite.html.twig', {'categories': categories}) }}
                </div>
                <div class='newsletter-inscrip'>
                    {{ include('SceauBundle:Site/Home:news.html.twig', {'newsletters': newsletters}) }}
                </div>
                <div class="annuaire-main"> 
                    {{ include('SceauBundle:Site/Category:listcategory.html.twig', {'siteprenium': siteprenium}) }}
                </div>
                
                <div class="declarer-litige">
                    {% include "SceauBundle:Site/Home:letige.html.twig" %}
                </div>
                <div class='avis-conso-hier'>
                    {% include "SceauBundle:Site/Home:stats.html.twig" %}
                </div>
                <div class="jeux-concours">
                    {% include "SceauBundle:Site/Home:tombola.html.twig" %}
                </div>
            {% elseif menu == 'register' %}
                <div class="login-left">
                    {% include "SceauBundle:Site/Security:register.html.twig" %}  
                </div>
            {% elseif menu == 'operation' %} 
                <div class="bloc_faq">
                     {% include "SceauBundle:Site/Operation:operation.html.twig" %} 
                </div>
                <div class="main-block-end"></div>
            {% elseif menu == 'newsletter' %} 
                    {{ include ("SceauBundle:Site/Newsletter:newslettres.html.twig", {'newsletters' : newsletters}) }}
                    <div class="main-block-end"></div>
            {% elseif  menu == 'mobile' %}
                    {% include "SceauBundle:Site/Mobile:mobile.html.twig" %}
            {% elseif  menu == 'tombola' %}
                    {{ include ("SceauBundle:Site/Tombola:tombola.html.twig", {'winners' : winners}) }}
            {% elseif  menu == 'whos' %}
                 {% include "SceauBundle:Site/Footer:whosfianet.html.twig" %}
             {% elseif  menu == 'mention' %}
                 {% include "SceauBundle:Site/Footer:mentionlegal.html.twig" %}
            {% elseif  menu == 'protection' %}
                 {% include "SceauBundle:Site/Footer:protectiondonnes.html.twig" %}
            {% elseif  menu == 'cgu' %}
                 {% include "SceauBundle:Site/Footer:cgu.html.twig" %}
            {% elseif  menu == 'politique' %}
                 {% include "SceauBundle:Site/Footer:politique.html.twig" %}
            {% elseif  menu == 'faq' %}
                 {% include "SceauBundle:Site/Footer:faq.html.twig" %}
            {% endif %}
        </div>
{% endblock %}