{% extends 'SceauBundle:Site:layout.html.twig' %}
{% block CONTENT %}
        {% include "SceauBundle:Site/Common:menu.html.twig" %}    
        {% if menu == 'register' %}
            {% set locations = ['Accueil','Espace membre', 'Inscription'] %}
            {% import "SceauBundle:Site/Common:location.html.twig" as forms %}
            {{ forms.input(locations) }}
        {% elseif menu == 'operation' %} 
            {% set locations = ['Accueil','Fonctionnement'] %}
            {% import "SceauBundle:Site/Common:location.html.twig" as forms %}
            {{ forms.input(locations) }}
        {% elseif menu == 'newsletter' %} 
            {% set locations = ['Accueil','Newsletter'] %}
            {% import "SceauBundle:Site/Common:location.html.twig" as forms %}
            {{ forms.input(locations) }}
        {% elseif menu == 'mobile' %} 
            {% set locations = ['Accueil','mobile'] %}
            {% import "SceauBundle:Site/Common:location.html.twig" as forms %}
            {{ forms.input(locations) }}
        {% endif %}
        
        <div id="content">
            {% if menu == 'home' %}
                <div class="site-prem">
                    {{ include('SceauBundle:Site/Home:preniumwebsite.html.twig', {'categories': categories}) }}
                </div>
                <div class='newsletter-inscrip'>
                    {{ include('SceauBundle:Site/Home:news.html.twig', {'newsletters': newsletters}) }}
                </div>
                <div class="annuaire-main"> 
                    {{ include('SceauBundle:Site/Category:listcategory.html.twig', {'siteprenium': siteprenium}) }}
                </div>
                
                <div class="declarer-litige">
                    {% include "SceauBundle:Site/Home:letige.html.twig" %}
                </div>
                <div class='avis-conso-hier'>
                    {% include "SceauBundle:Site/Home:stats.html.twig" %}
                </div>
                <div class="jeux-concours">
                    {% include "SceauBundle:Site/Home:tombola.html.twig" %}
                </div>
            {% elseif menu == 'register' %}
                <div class="login-left">
                    {% include "SceauBundle:Site/Security:register.html.twig" %}  
                </div>
            {% elseif menu == 'operation' %} 
                <div class="bloc_faq">
                     {% include "SceauBundle:Site/Operation:operation.html.twig" %} 
                </div>
                <div class="main-block-end"></div>
            {% elseif menu == 'newsletter' %} 
                    {{ include ("SceauBundle:Site/Newsletter:newslettres.html.twig", {'newsletters' : newsletters}) }}
                    <div class="main-block-end"></div>
            {% elseif  menu == 'mobile' %}
                    {% include "SceauBundle:Site/Mobile:mobile.html.twig" %} 
            {% else %}
                <div class='avis-conso-hier'>
                    {% include "SceauBundle:Site/Home:stats.html.twig" %}
                </div>

            
            {% endif %}
        </div>
{% endblock %}