<div class="site-prem-lien">
    <a class="lien-prem" href="#" title="Cliquez ici pour afficher l'ensemble des sites premium FIA-NET">
        LES SITES PREMIUM FIA-NET
    </a>
</div>


 <div id="bloc_sitepremiumrandom">
 <ul class="ui-tabs-nav">
 {% for prenium in siteprenium.sitePrenium %}
     {% if loop.index == 1 %}
            {% set classfragment = "ui-tabs-nav-item ui-tabs-selected" %}
        {% else %}
           {% set classfragment = "ui-tabs-nav-item" %}
        {%endif%}
    
        <li class="{{classfragment}}" id="nav-fragment-{{loop.index}}">
            <a href="#fragment-{{loop.index}}">
                <img src="{{ asset('bundles/sceau/images/site/testlogos/' ~ prenium.logo ~ '.gif') }}" alt="{{prenium.nom | capitalize }} - evalué par FIA-NET" width="150px" height="40px">
            </a>
        </li>
   
{% endfor %}
 </ul>
    <div class="site-prem-detail">
{% for prenium in siteprenium.sitePrenium %}
        {% if loop.index == 1 %}
            {% set classfragment = "ui-tabs-panel" %}
        {% else %}
           {% set classfragment = "ui-tabs-panel ui-tabs-hide" %}
        {%endif%}
        <div id="fragment-{{loop.index}}" class="{{classfragment}}" style="">
            <div class="detail-site">
                <div style="float:left; margin-top: 10px;">
                    <span class="site-name">
                        <a href="#">
                            {{prenium.nom | capitalize }}
                        </a>
                    </span>
                    <br/>
                    <span class="site-cat">
                        <a href="#">{{prenium.siteCategories[0].categorie.libelle | capitalize }}</a>
                    </span>
                </div>
                <div class="site-prem-note-detail">
                    <a href="#" style="text-decoration: none; color: #5A464B;">
                        <img src="{{ asset('bundles/sceau/images/site/common/site-note-9.png') }}" alt="9.3/10" width="47" height="51" align="bottom" />,<span>3</span>/10
                    </a>
                </div>
                <div class="site-prem-note">
                    <a href="#">
                        <img src="{{ asset('bundles/sceau/images/site/common/site_prem_logo.png') }}"  width="137" height="46" alt="Site Premium" title="Site Premium" align="bottom"/>
                    </a>
                </div>
            </div>
            <div class="site-prem-pres">
                {{prenium.description | capitalize }}
            </div>
            <div class="site-prem-com">
                <div class="com-site-smile">
                    <img src="{{ asset('bundles/sceau/images/site/common/smile_m_green.png') }}" width="40" height="49" alt="avis de consommateurs" /><br />
                    <strong>{{prenium.information[0].questionnaire.membre.pseudo}}</strong><br /> le {{prenium.information[0].questionnaire.dateReponse.date |date("d/m/Y") }} <br/> 
                            à {{prenium.information[0].questionnaire.dateReponse.date |date("h:i") }}
                </div>
                <div class="com-site-detail">
                    <div class="com-site-detail-top"></div>
                        <div class="com-site-detail-bottom">
                            {{prenium.information[0].commentaire}} <br>
                            {% set taille = 150 %}
                            {% if prenium.information[0].commentaire > taille %}
                                <a class="lien" href="#" title="Lire la suite du commentaire pour COMPTOIRDELHOMME" style="font-weight: bold;">
                                    Lire la suite
                                </a>
                            {% endif %}
                    </div>
                </div>
            </div>
            <div class="btn-1 btn-vers-fiche">
                <div class="btn-1-main">
                    <a href="#" class="btn-1-link" title="{{prenium.nom | capitalize }}">accédez à la fiche marchand</a>
                </div>
                <div class="btn-1-end"></div>
            </div>
        </div>
    {%endfor%}
    </div>
</div>
