<a href="{{ path('site_whos_fianet') }}">Qui est FIA-NET</a>  | 
<a href="{{ path('site_fianet_mention') }}">Mentions légales</a>  | 
<a href="{{ path('site_fianet_protectiondonnes') }}">Protection des données</a>  | 
<a href="{{ path('site_fianet_cgu') }}"> CGU </a>  | 
<a href="{{ path('site_fianet_politique') }}">Politique Qualité</a> | 
<a href="{{ path('site_fianet_faq') }}">FAQ</a> | 
<a href="#">Contact</a> | 
<a href="{{ path('site_presse') }}">Ils parlent de nous</a> |
<a href="http://fia-net-group.com/" target="_blank" onclick="return xt_click(this,'C','10','espace_pro','S')">Espace Pro</a> | 
<a href="https://www.fia-net.com/__extranet/login.php" target="_blank" class="pro">Extranet</a>