<div class="menu-top">
    
    <div class="menu-home">
        <a href="{{ path('site_home')}}">
            <img src="{{ asset('bundles/sceau/images/site/home/main_menu_btn_home.png') }}" width="14" height="13" alt="Accueil" border="0" />
        </a>
    </div>
    
    <div class="menu-spacer"></div>
    
    <div class="menu">
        <a href="{{ path('site_operation_detail')}}">FONCTIONNEMENT</a>
    </div>
    
    <div class="menu-spacer"></div>
    
    <div class="menu">
        <a href="{{ path('site_operation_news')}}">NEWSLETTER</a>
    </div>
    
    <div class="menu-spacer"></div>
    
    <div class="menu">
        <a href="#">MOBILE</a>
    </div>
    <div class="menu-find-input-div">
	<form id="formRecherche" name="formRecherche" method="GET" action="#" >
            <input class="menu-find-input-back" type="text" name="recherche" placeholder="Rechercher" id="foo"  onfocus="" autocomplete="off" onKeyUp="" />
            <div class="menu-find-btn-ok" onclick="">
                <img src="{{ asset('bundles/sceau/images/site/home/find_btn_ok.png') }}" width="35" height="16" alt="Rechercher" border="0" onClick="" />
            </div>
            <div id="autoCompletion_answer" class="result"></div>
	</form>
    </div>
    <div class="menu-find">TROUVER UN PARTENAIRE</div>
</div>
		