{% extends 'SceauBundle:Admin:layout.html.twig' %}

{% set flashMessageItem = 'SceauBundle:Admin/Common/Items:flash-message.html.twig' %}

{% block CONTENT %}

    <div class="page-content page-content-ease-in">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li><a href="javascript:;">Home</a></li>
            <li class="active"><a href="javascript:;">Gestion des articles</a></li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Gestion des articles de presse</h1>
        <!-- end page-header -->

        {# Affichage des messages flash  #}
        {% for message in app.session.flashbag.get('info') %}
            {% include flashMessageItem with{
            'message': message
            }%}
        {% endfor %}

        <div class="row">
            <div class="col-lg-12 ui-sortable">
                <!-- begin panel -->
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                        </div>
                        <h4 class="panel-title">Listes des articles de presse</h4>
                    </div>
                    <div class="panel-body">
                        <table id="data-table" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Titre</th>
                                <th>Date</th>
                                <th>contenu</th>
                                <th>Publication</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for entity in entities %}
                                    <tr class="odd gradeX">
                                        <td>{{ entity.id}}</td>
                                        <td>{{ entity.title }}</td>
                                        <td>{{ entity.date|date("m/d/Y")  }}</td>
                                        <td>{{ entity.content| truncate(35, true, '...')  }}</td>
                                        <td>
                                            {% if entity.published %}
                                                <span class="label label-success">Publié</span>
                                            {% else %}
                                                <span class="label label-warning">Non publié</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a class="btn btn-success m-r-5 m-b-5" href="{{ path('article_show', { 'id': entity.id }) }}">Voir</a>
                                            <a class="btn btn-orange btn-warning m-r-5 m-b-5" href="{{ path('article_edit', { 'id': entity.id }) }}">Editer</a>
                                            <a class="btn btn-red btn-danger m-r-5 m-b-5" data-toggle="modal" data-target="{{'#' ~  entity.id  }}">
                                                Supprimer
                                            </a>
                                        </td>
                                    </tr>

                                    <div class="modal modal-flex fade" id="{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="flexModalLabel">Suppression de l'article {{ entity.title }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Etes-vous sur de vouloir supprimer cet article ?</p>
                                                    {{ render(controller('SceauBundle:Admin/ArticlePresse:delete', { 'id': entity.id })) }}
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                {% endfor %}
                            </tbody>
                        </table>
                        <a class="btn btn-info m-r-5 m-b-5" href="{{ path('article_new') }}">Ajouter</a>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-lg-12 -->
        </div>
        <!-- end row -->
    </div>
{% endblock %}

{% block javascript %}

    <script>
        $(document).ready(function() {
            App.init();
            TableManageDefault.init();
        });
    </script>

{% endblock %}