{% extends 'SceauBundle:Admin:layout.html.twig' %}

{% block CONTENT -%}


    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">UI Elements</a></li>
        <li class="active">Buttons</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Article de presse<small> édition de l'article de presse</small></h1>
    <!-- end page-header -->
    <!-- begin row -->
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="ui-buttons-1"->
                <div class="panel-heading">
                    <h4 class="panel-title">{{ entity.title }}
                        {% if entity.published %}
                             <span class="label label-success pull-right">Publié</span>
                        {% else %}
                            <span class="label label-warning pull-right">Non publié</span>
                        {% endif %}
                    </h4>
                </div>
                <div class="panel-body">
                    <p>{{ entity.content }}</p>
                </div>
                <div class="panel-footer text-left">
                    <p>Source : {{ entity.source }}  <em>{{ entity.urlSource }}</em></p>
                    <p>Date de publication: {{  entity.date|date('d/m/Y') }}</p>
                </div>
            </div>
            <!--  end panel-->
        </div>
        <!-- end col-6 -->
        <div class="btn-group-vertical">
            <a class="btn btn-success" href="{{ path('articles') }}">Retour</a>
            <a class="btn btn-warning active" href="{{ path('article_edit', { 'id': entity.id }) }}">Editer</a>
            {{ form(delete_form) }}
        </div>
    </div>
    <!-- end row -->



{% endblock %}
