<form  action="#" method="post">    
    <input type="hidden" name="form_coord">
        
        {{ form_start(form) }}
        <div class='registre-avatar'>
            {% include 'SceauBundle:Site/Security:avatar.html.twig' %}
        </div>
        {{ form_row(form.civilite) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.pseudo) }}
        {{ form_row(form.pays) }}
            <div id="coordonnes">
                {{ form_row(form.adresse) }}
                {{ form_row(form.compAdresse) }}
                {{ form_row(form.codePostal) }}
                {{ form_row(form.ville) }}
            </div>    
    </div>
    <div class='{{classFormulairepartenaires}}'>
        {{ form_row(form.legal) }}
    </div>
    {% if menu == 'tombola' %}
        <div id="tombola-error">Vous Pouvez Pas participer au tombola puisque vous étes pas en france</div>
    {% endif %}
    <div class="btn-espace-membre">
        <div class="btn-1-main" id="btn-tombola">
            <input type="submit" value="Valider" class="btn-home-regiter" /> 
        </div>
	<div class="btn-1-end"></div>
    </div>
         
    {{ form_end(form) }}
    {{ form_rest(form) }}
    
   
</form>