<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Sceau de confiance</title>
</head>
<body bgcolor="#aea3a7" style="margin:0px; padding:0px; background-color:#aea3a7;">
<table width="560" border="0" align="center" cellpadding="0" cellspacing="0" style="line-height:normal">
    <tr style="line-height:normal">
        <td bgcolor="#FFFFFF" style="border:#a3939a solid 1px; line-height:normal">
            <table align="center" width="480" border="0" cellspacing="0" cellpadding="0" style="line-height:normal; border-bottom: 2px solid #0DAEFF;">
                <tr style="line-height:normal">
                    <td height="15" colspan="2" align="left" style="line-height:normal"><img src="http://www.fia-net.com/img/emails/pixel.png" width="1" height="1" alt="vide" /></td>
                </tr>
                <tr style="line-height:normal">
                    <td width="354" height="52" align="left" style="line-height:normal"><img src="http://www.fia-net.com/img/logos/logo_satisfy.png" width="140" height="38" alt="Satisfy By FIA-NET" /></td>
                    <td height="52"  align="right" style="line-height:normal">
                        <a style="color:#52AE35;" href="{{ site_url }}" target="_blank"><img border="0" width="150" height="40" alt="{{ sitename }}" src="{{ logo }}"/></a>
                    </td>
                </tr>
                <tr style="line-height:normal;">
                    <td colspan="2" align="left" style="line-height:normal" height="70">
                        <table width="480" align="center" border="0" cellspacing="0" cellpadding="0" style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3e262b; text-align:justify;">
                            <tr>
                                <td style="text-align: center; border-bottom: 2px solid #0DAEFF; padding-bottom: 3px;">
                                    <strong style="font-style: italic; font-size: 20px; color:#0DAEFF;">Votre satisfaction est notre priorité !</strong>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="line-height:normal">
                    <td colspan="2" align="left" style="line-height:normal">
                        <table width="480" align="center" border="0" cellspacing="0" cellpadding="0" style="line-height:normal; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3e262b; text-align:justify;">
                            <tr>
                                <td>
                                    {{ prenom }},<br />
                                    <br />
                                    <strong>Merci d'avoir donné votre avis sur le site {{ site_name }} !</strong><br />
                                    <br />
                                    Vous pourrez visualiser votre commentaire directement sur le <a href="{{ site_url }}" style="color:#0DAEFF;">site</a>, dans un délai de 24h.<br />
                                    <br />
                                    A bientôt sur {{ site_name }} !<br />
                                    <br />
                                    L'équipe Satisfy by FIA-NET.<br />
                                    <br />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" class="footer" style="line-height:normal">
                <tr style="line-height:normal">
                    <td height="24" width="558" align="center" style="line-height:normal; font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#524249;">FIA-NET 3/5 rue Saint-Georges 75 009 Paris / RCS Paris 429 121 866</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="line-height:normal">
        <td height="35" align="center" style="font-family:Arial, Helvetica, sans-serif; color:#524249; font-size:11px; line-height:normal;">Pour &ecirc;tre s&ucirc;r de recevoir tous nos emails, ajoutez notre adresse &agrave; votre carnet d'adresses.</td>
    </tr>
    <tr style="line-height:normal">
        <td align="center" style="font-family:Arial, Helvetica, sans-serif; color:#524249; font-size:10px; line-height:normal;">Vous recevez cet e-mail car vous avez effectué un achat sur un site participant. FIA-NET ne vous sollicitera pour aucune autre information sans rapport avec le suivi des performances de ce site.
            <br /><br />
            Conform&eacute;ment &agrave; la loi Informatique et Libert&eacute;s du 6 janvier 1978, vous disposez &agrave; tout moment, d'un droit d'acc&egrave;s, de rectification, et d'opposition &agrave; l'ensemble de vos donn&eacute;es personnelles en &eacute;crivant, par courrier et en justifiant de votre identit&eacute;, &agrave; FIA-NET - Informatique et Libert&eacute;s, Traitement 896 150 - 3/5 rue Saint-Georges, 75009 PARIS.
        </td>
    </tr>
    <tr style="line-height:normal">
        <td height="35" align="center" style="font-family:Arial, Helvetica, sans-serif; color:#524249; font-size:10px; line-height:normal;">
            <p style="font-family:Arial, Helvetica, sans-serif; font-size:10px;"><a target="_blank"  style="color:#524249;"  href="http://logi118.xiti.com/go.url?xts=487123&s2=4&xtor=EPR-5-[questionnaire_light]--[Desabonnement_membre]&url=https://www.fia-net.com/membre/desabonnement_fia-net.php?email={{ email }}">Se désabonner</a></p>
        </td>
    </tr>
</table>
<img width="1" height="1" src="http://logi118.xiti.com/hit.xiti?s=487123&amp;xto=EPR-5-[questionnaire_light]--[]&amp;type=email&amp;" alt="">
</body>
</html>
